mixin list_item(name)
    li
        a= name

section.site-map-list
    .n-container.site-map-list__n-container
        .site-map-list__col

            ul
                li.site-map-list__title
                    a(href="javascript:void(0)") Главная страница
                +list_item('Контактная информация')
                +list_item('Новости')
                +list_item('Акции')
                +list_item('Статьи')
                +list_item('Советы по аренде')
                +list_item('Сервисы на сайте')
                +list_item('Вопрос - ответ')
                +list_item('Отзывы')
                +list_item('О «Теореме»')

            ul
                li.site-map-list__title
                    a(href="javascript:void(0)") Бизнес-центры
                +list_item('ТОЦ «Эврика» класса B +')
                li.site-map-list__child
                    a(href="javascript:void(0)") Торговый центр «Эврика»
                +list_item('БЦ «Т4» класса B+')
                +list_item('БЦ «Обуховъ-Центр» класса B+')
                +list_item('БЦ «Осень» класса А')
                +list_item('БЦ «Лето» класса А')
                +list_item('БЦ «Бенуа» класса A')
                +list_item('БЦ «Лангензипен» класса А')
                +list_item('БЦ «H2O» класса B')
                +list_item('Бизнес-Парк «Полюстрово»')               

        .site-map-list__col

            ul
                li.site-map-list__title
                    a(href="javascript:void(0)") Аренда офиса
                +list_item('Аренда офиса 20 м²')
                +list_item('Аренда офиса 30 м²')
                +list_item('Аренда офиса 40 м²')
                +list_item('Аренда офиса 50 м²')
                +list_item('Аренда офиса 60 м²')
                +list_item('Аренда офиса 70 м²')
                +list_item('Аренда офиса 75 м²')
                +list_item('Аренда офиса 90 м²')
                +list_item('Аренда офиса 100 м²')
                +list_item('Аренда офиса 150 м²')
                +list_item('Аренда офиса 100-200 м²')
                +list_item('Аренда офиса 200 м²')
                +list_item('Аренда офиса 300 м²')
                +list_item('Аренда офиса 400 м²')
                +list_item('Аренда офиса 500 м²')
                +list_item('Аренда офиса 600 м²')
                +list_item('Аренда офиса 700 м²')
                +list_item('Аренда офиса 800 м²')
                +list_item('Аренда офиса 900 м²')
                +list_item('Аренда офиса 1000 м²')
                +list_item('Аренда офиса 1300 м²')
                +list_item('Аренда офиса 1500 м²')
                +list_item('Аренда офиса 1600 м²')


        .site-map-list__col

            ul
                li.site-map-list__title
                    a(href="javascript:void(0)") Аренда коммерческой недвижимости
                +list_item('Аренда офиса в бизнес-центре класса B+')
                +list_item('Аренда офиса в бизнес-центре класса А')
                +list_item('Аренда офиса в Калининском районе')
                +list_item('Аренда офиса в Красногвардейском районе Санкт-Петербурга')
                +list_item('Аренда офиса в Невском районе Санкт-Петербурга')
                +list_item('Аренда open space офисов в Санкт-Петербурге')
                +list_item('Аренда офисных блоков в Санкт-Петербурге')
                +list_item('Аренда больших помещений под офис')
                +list_item('Аренда видового офиса')
                +list_item('Аренда этажа под офис')
                +list_item('Аренда ОСЗ (отдельно стоящего здания) в Санкт-Петербурге')
                +list_item('Аренда помещений свободного назначения в Санкт-Петербурге')
                +list_item('Аренда торговых помещений в Санкт-Петербурге')
                +list_item('Аренда торговых помещений в ТОЦ «Эврика»')
                +list_item('Аренда помещения 30 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 40 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 50 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 60 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 100 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 150 м² в Санкт-Петербурге')
                +list_item('Аренда помещения 300 м²')
                +list_item('Аренда помещения 500 м²')
                +list_item('Аренда помещения 700 м²')














