section.article.blog
    .n-container.blog__n-container

        .blog-heading
            .blog-heading__row
                a(href="javascript:void(0)").blog-heading__btn.blog-heading__btn-back
                    .blog-heading__btn-icon
                    .blog-heading__btn-text Вернуться к списку
                .blog-heading__date 16 декабря 2019 г.
                a(href="javascript:void(0)").blog-heading__btn.blog-heading__btn-next
                    .blog-heading__btn-icon
                    .blog-heading__btn-text Следующая статья

        .blog-body
            .blog-body__container
                include ../../components/teorema_galery_1.pug
                .blog-body__text-item
                    p
                        b В бизнес-центре «Лангензипен», расположенному на Петроградской стороне, доступен для аренды 5-й этаж размером 874 квадратных метров. Занять такое помещение – значит работать там, где комфортно, безопасно и престижно. Просмотр возможен уже сейчас, но при наличии предварительной договоренности с отделом аренды. Чтобы связаться с его специалистами, позвоните по номеру 333-0-444, закажите на сайте обратный звонок или напишите в чате.
                .blog-body__text-item
                    h4 Местоположение БЦ
                    p БЦ «Лангензипен» находится на Петроградском районе, на пересечении Каменноостровского проспекта и Дивенской улицы. Рядом расположены станции метро «Горьковская» и «Петроградская».
                .blog-body__text-item
                    h4 Аренда
                    p Договор заключается напрямую с собственником, что гарантирует быстрое проведение сделки. Арендатор получит готовый к эксплуатации офис, имеющий современные отделку и оснащение. По согласованию с арендодателем возможна перепланировка, организация coffee room и контроля доступа на этаж. 
                .blog-body__text-item
                    h4 Описание
                    p В настоящее время планировка 5-го этажа кабинетно-коридорная. Комфортный доступ обеспечивают 2 пассажирских лифта. Также имеются грузовой лифт и 4 санузла. <br><br>Отделка выполнена в строгом офисном стиле. В кабинетах подвесные потолки со встроенными LED светильниками, на стенах обои с покраской в пастельные тона, шпонированные деревянные двери с замками и ковролин. Благодаря панорамным окнам, обращённым в Дивенский сад, помещения имеют прекрасные видовые характеристики. Комфортные условия для работы поддерживают вентиляция и кондиционирование. Надежную связь обеспечивают IP-телефония и высокоскоростной доступ в интернет.

                .blog-body__text-item
                    h4 Преимущества
                    p Автономное размещение на этаже подчеркнёт статус арендатора и одновременно обеспечит дополнительную информационную и охранную безопасность. Обслуживание помещения и эксплуатацию здания возьмёт на себя профессиональный управляющий – компания «Теорема», причем в её компетенцию входит также решение вопросов, связанных с адаптацией офисов под нужды арендатора. <br><br>Ещё одно важное достоинство – расположение бизнес-центра в престижном историческом центре города. При этом у арендаторов бизнес-центра и их гостей решена проблема с парковкой. Вокруг здания находится автостоянка с контролем доступа, рассчитанная на 70 машино-мест.
                .blog-body__text-item
                    h4 О бизнес-центре
                    p «Лангензипен» состоит из двух корпусов, реконструированных в 2006 году. Тот, в котором сдаётся этаж, представляет собой современное здание, стилизованное под старину благодаря необычному застеклённому фасаду, на котором изображены атланты и лепнина. Издали они кажутся объемными, и этот эффект усиливает внутренняя подсветка фасада.<br><br>В бизнес-центре работают супермаркет «Перекресток», «АбсолютБанк», «БалтИнвестБанк», нотариус. В пешеходной доступности находятся 2 станции метрополитена, многочисленные кафе, рестораны, магазины, аптеки и культурно-досуговые объекты. <br><br>Все параметры делового комплекса: местоположение, отделка, оснащение, обслуживание – соответствуют требованиям класса А. Бизнес-центр является обладателем премии Commercial Real Estate St. Petersburg Awards 2009 в номинации «Офисная недвижимость. Бизнес-центр класса А». Также «Лангензипен» дважды, в 2016 и 2017 годах, становился победителем проекта «100 лучших офисных и торговых центров России».

        .blog-heading.blog-heading--bottom
            .blog-heading__row
                a(href="javascript:void(0)").blog-heading__btn.blog-heading__btn-back
                    .blog-heading__btn-icon
                    .blog-heading__btn-text Вернуться к списку
                a(href="javascript:void(0)").blog-heading__btn.blog-heading__btn-next
                    .blog-heading__btn-icon
                    .blog-heading__btn-text Следующая статья