section.promo.promo-row.blog-promo
    .n-container.promo-row__n-container
        .promo__left
            h1 Аренда видового этажа в БЦ «H2O» для создания комфортабельного офиса
                span.triangle-red