section.n-block.n-block--bordered.bc-desc
    .n-container
        h3 описание торгового<br> центра
            span.triangle-red
        .bc-desc__content
            p На семи верхних этажах ТОЦ «Эврика» расположен бизнес-центр, на трех нижних —торговый центр. Здесь множество магазинов и магазинчиков для взрослых и детей, уютные кафе для встреч с друзьями, японский ресторан для деловых переговоров, фитнес-клуб и салон красоты для поддержания формы, мастерские для различного ремонта. Торговый центр отличает приятная атмосфера, а жизнь здесь всегда бьет ключом. <br><br>Добраться до ТОЦ очень просто. Владельцы личных автомобилей могут проехать по основным левобережным магистралям: проспектам Обуховской Обороны и Рыбацкому, …улицам Седова, Бабушкина, Ивановской. На прилегающей территории оборудована большая автомобильная гостевая парковка на 510 машино-мест «2 часа бесплатно». Для тех, кто пользуется общественным транспортом, от станции метро «Елизаровская» каждые 10-20 минут ходят бесплатные автобусы УК «Теорема». Кроме того, от станции метро «Ломоносовская» можно быстро, без пересадок доехать на автобусе № 8, троллейбусе № 14 и маршрутных автобусах К 8 и К 16.
            button.bc-desc__show-btn Подробнее