section.n-block.bc-promo.tc-promo
    .n-container.bc-promo__first
        .bc-promo__left
            .bc-promo__logo
                img(src="./img/svg/logo_evrika.svg")
            h3 Торговый центр
            a(href="javascript:void(0)").bc-promo__bc-link 
                span Страница торгового центра
            a.bc-promo__map(href="javascript:void(0)")
                .bc-promo__map-icons
                    img(src="./img/svg/gps_default.svg")
                    img(src="./img/svg/gps_hover.svg")
                .bc-promo__map-text
                    p 192019, Санкт-Петербург <br> ул. Седова, 11А <br> ст. м. Елизаровская
                .bc-promo__map-close Скрыть карту
        .bc-promo__right
            include ../../components/teorema_social.pug
            .bc-promo__info
                .bc-promo__info-sub-title Телефон для справок
                a(href="8 (812) 633-30-30").bc-promo__info-tel 8 (812) 633-30-30

    .bc-promo__main
        .bc-promo-galery
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red3.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
        .bc-promo-map
            .bc-promo-map__tooltip
                .bc-promo-map__tooltip-close
                .bc-promo-map__tooltip-logo
                    img(src="./img/svg/logo_evrika.svg")
                .bc-promo-map__tooltip-text
                    p Торгово-офисный центр <br>45 000 м2 <br>Парковка 640 мест
                p ул. Седова 11, лит А

    ul.n-container.bc-promo__last
        li
            .bc-promo__bullet-title 13 500 м²
            .bc-promo__bullet-text торговых площадей
        li.bc-promo__bullet
            .bc-promo__bullet-title 100
            .bc-promo__bullet-text торговых площадок
        li.bc-promo__bullet
            .bc-promo__bullet-title 10 000
            .bc-promo__bullet-text посетителей ежедневно
        li.bc-promo__bullet
            .bc-promo__bullet-title 630
            .bc-promo__bullet-text парковочных мест