.table.tc-main-table__table
    .table-head__full
        .table-head(table-container="1312")
            div( data-tc-col="1").table-head__label
                span Организация / № помещения
            div( data-tc-col="2" ).table-head__label
                span План этажа
            div( data-tc-col="3" ).table-head__label
                span Телефон
            div( data-tc-col="4").table-head__label
                span Часы работы

    .table-body

        .table-body__list(table-container="1312")
            include ./tc_table_item.pug