section.n-block.n-block--bordered.bc-desc
    .n-container
        h3 Описание тоц «Эврика» 
            span.triangle-red
        .bc-desc__content
            p Над проектом торгово-офисного центра «Эврика» работала архитектурная фабрика «32 декабря». В результате 10-этажное здание стало архитектурной доминантой микрорайона. Cемь верхних этажей занимает бизнес-центр, на первых трех — расположен торговый центр, где работают бистро, ресторан, фитнес-центр, гипермаркет, магазины. <br><br>ТОЦ расположен на улице Седова — оживленной транспортной артерии Невского района. В непосредственной близости находится проспект Обуховской Обороны, примерно в десяти минутах езды кольцевая автодорога. Благодаря регулярным рейсам бесплатных автобусов 10-15 минут необходимо, чтобы добраться до станции метро «Елизаровская». Безопасность обеспечивается системами контроля доступа в бизнес-центр, противопожарной защиты и видеонаблюдения. <br><br> Для удобного перемещения работают 3 группы лифтов и 4 эскалатора. Для доставки товаров в магазины есть удобные зоны разгрузки и грузовые лифты, а вокруг здания расположена вместительная парковка. Эксплуатацию здания обеспечивает УК «Теорема».
            button.bc-desc__show-btn Развернуть