section.bc-galery.n-block.n-block--bordered
    .bc-galery-slider
        button.bc-galery-slider__prev
        button.bc-galery-slider__next
        //- .bc-galery-slider__dots

        .bc-galery-slider__container
            .bc-galery-slide
                img(src="./img/png/evrika-aero2.png")
            .bc-galery-slide
                img(src="./img/png/evrika-aero2.png")
            .bc-galery-slide
                img(src="./img/png/evrika-aero2.png")


    .n-container
        ul.bc-galery__bullets
            li.bc-galery__bullet
                span.bc-galery__bullet-title 19 мин
                p.bc-galery__bullet-desc пешком от метро Елизаровская
            li.bc-galery__bullet
                span.bc-galery__bullet-title 9 км
                p.bc-galery__bullet-desc от КАД и Большого Обуховского моста
            li.bc-galery__bullet
                span.bc-galery__bullet-title 30 мин
                p.bc-galery__bullet-desc от аэропорта Пулково без учета пробок
            li.bc-galery__bullet
                span.bc-galery__bullet-title 6 км
                p.bc-galery__bullet-desc от Московского вокзала