section.n-block.n-block--bordered.bc-partnership
    .n-container
        .bc-partnership__left
            h3 Наше сотрудничество начинается здесь
                span.triangle-red
            p Благодаря системе <a href="javascript:void(0)">«всё включено»</a> и гибкому подходу мы предлагаем выгодные решения по аренде офисов и других коммерческих помещений. Они предоставляются с готовой отделкой и оснащением, но по согласованию могут быть перепланированы и отремонтированы по желанию арендатора. Мы нацелены на содействие успешному развитию бизнеса арендаторов, поэтому стремимся оказывать качественные услуги по оптимальным ценам.
            a(href="javascript:void(0)") Подробно о компании

            .bc-partnership__info
                a(href="tel:88123174947").bc-partnership__info-tel 8 (812) 317-4947
                span c 9:30 до 18:00 по будням
                a(href="mailto: arenda@teorema.info") arenda@teorema.info

        
        .bc-partnership__right
            include callback_form.pug
