section.n-block.bc-promo
    .n-container.bc-promo__first
        .bc-promo__left
            .bc-promo__logo
                img(src="./img/svg/logo_evrika.svg")
            h3 Торгово-офисный центр класса В+
            a(href="javascript:void(0)").bc-promo__bc-link 
                span Страница торгового центра
            a.bc-promo__map(href="javascript:void(0)")
                .bc-promo__map-icons
                    img(src="./img/svg/gps_default.svg")
                    img(src="./img/svg/gps_hover.svg")
                .bc-promo__map-text
                    p 192019, Санкт-Петербург <br> ул. Седова, 11А <br> ст. м. Елизаровская
                .bc-promo__map-close Скрыть карту
        .bc-promo__right
            include ../components/teorema_social.pug
            .bc-promo__info
                .bc-promo__info-title проект:
                .bc-promo__info-date 32 декабря
                .bc-promo__info-who Архитектурное бюро

    .bc-promo__main
        .bc-promo-galery
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red3.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
        .bc-promo-map
            .bc-promo-map__tooltip
                .bc-promo-map__tooltip-close
                .bc-promo-map__tooltip-logo
                    img(src="./img/svg/logo_evrika.svg")
                .bc-promo-map__tooltip-text
                    p Торгово-офисный центр <br>45 000 м2 <br>Парковка 640 мест
                p ул. Седова 11, лит А

    ul.n-container.bc-promo__last
        li.bc-promo__bullet
            .bc-promo__bullet-title Ставка
            .bc-promo__bullet-text от 1 800 ₽/м²
        li.bc-promo__bullet
            .bc-promo__bullet-title Отделка
            .bc-promo__bullet-text Под ключ
        li.bc-promo__bullet
            .bc-promo__bullet-title Парковка
            .bc-promo__bullet-text 640 мест
        li.bc-promo__bullet
            .bc-promo__bullet-title Площадь
            .bc-promo__bullet-text 45 000 ₽/м²
        li.bc-promo__bullet
            .bc-promo__bullet-title Потолки
            .bc-promo__bullet-text 3,4 метра
        li.bc-promo__bullet
            .bc-promo__bullet-title Доступ
            .bc-promo__bullet-text Круглосуточно