section.bc-partnership
    .n-container
        .bc-partnership__left
            h3 Обратная связь
                span.triangle-red

            include callback_form.pug
        
        .bc-partnership__right
            h4 Ищете комфортабельное коммерческое помещение?
            .text-expand(data-max-height="216px" data-text-expand-for="mobile")
                .text-expand__content
                    p
                        b Воспользуйтесь <a href="javascript:void(0)">фильтром для поиска</a> или отправьте заявку, заполнив форму обратной связи <br><br>
                        <a href="javascript:void(0)">«Теорема»</a> известна в Санкт-Петербурге как надежный девелопер и профессиональная управляющая компания. Результат её 23-летней деятельности — 10 комфортабельных бизнес-центров с высокой заполняемостью. Это 185 тысяч квадратных метров офисных, торговых и складских площадей. Деловые комплексы компании отличают сервисное обслуживание на уровне класса А, прекрасная инженерная оснащенность и развитая инфраструктура. <br><br>Благодаря системе «всё включено» и гибкому подходу «Теорема» предлагает выгодные решения по аренде офисов и прочих коммерческих помещений. Они предоставляются с готовой отделкой и оснащением. УК нацелена на содействие успешному развитию бизнеса клиентов, поэтому стремится оказывать качественные услуги по оптимальным ценам.<br><br>
                        a(href="javascript:void(0)").bc-partnership__link-btn Подробно о компании
                button.text-expand__btn Посмотреть подробнее 


            .bc-partnership__info
                .bc-partnership__info-col
                    a(href="tel:88123174947").bc-partnership__info-tel 8 (812) 317-4947
                    span по будням c 9:30 до 18:00 
                .bc-partnership__info-col
                    img(src="./img/svg/QED.svg")