section.bc-services-list.cards-x3
    .bc-services-list-card
        .bc-services-list-card__ava
            img(src="./img/svg/services_mobile.svg")
        h5.bc-services-list-card__title Услуги и сервис
        ul.bc-services-list-card__list.n-list
            li онлайн-сервис «теорема»
            li уборка, мытье фасадов и окон
            li ip-телефония, iptv, интернет >100 мбит/с
            li помощь системного администратора
            li ресепшен и почтовые ячейки 
            li планировка офисного пространства
            li переговорная комната
            li бесплатный автобус от/до ст. м. «Обухово»
    .bc-services-list-card
        .bc-services-list-card__ava
            img(src="./img/svg/services_network.svg")
        h5.bc-services-list-card__title Услуги и сервис
        ul.bc-services-list-card__list.n-list
            li парковка платная — 120 мест
            li парковка на 1 час — 510 мест
            li кафе, рестораны,
            li гипермакет, магазины
            li банкоматы, платежные терминалы
            li вендинговые автоматы
            li теннисная комната
            li салон красоты, фитнес
            li оборудованные места для курения
    .bc-services-list-card
        .bc-services-list-card__ava
            img(src="./img/svg/services_office.svg")
        h5.bc-services-list-card__title Услуги и сервис
        ul.bc-services-list-card__list.n-list
            li автономное теплоснабжение
            li контроль доступа в бц и на парковки
            li системы видеонаблюдения
            li система противопожарной защиты
            li вентиляция и кондиционирование 
            li структурированные кабельные системы  категории 5е
            li эскалаторы в торговом центре
            li грузовые лифты — 4
            li пассажирские лифты — 10