section.n-block.benefit

    h2 Преимущества аренды в бизнес-центрах УК «Теорема»

    .n-container.cards-x3

        a(href="javascript:void(0)").benefit-card
            .benefit-card__wrap
                h4 Прямая аренда по схеме «все включено»
                    span.triangle-red
                p Арендная ставка, кроме 20-процентного налога на добавленную стоимость, уже включает в себя оплату за большой пакет опций, который обеспечит продуктивную работу и комфортное размещение.
                span Узнать больше
        a(href="javascript:void(0)").benefit-card
            .benefit-card__wrap
                h4 Отделка помещений «под ключ»
                    span.triangle-red
                p Все помещения готовы к аренде, после оплаты по договору можно сразу занять арендованную площадь и приступить к работе, а при желании можно изменить уже существующие планировку и дизайн.
                span Узнать больше
        a(href="javascript:void(0)").benefit-card
            .benefit-card__wrap
                h4 Онлайн-приложение «Теорема»
                    span.triangle-red
                p Установите бесплатное приложение на любое устройство чтобы оперативно сообщать о нужных услугах, бронировать пропуска и получать обратную связь от руководства УК «Теорема»
                span Узнать больше