.form-callback
    .form-callback__container
        span.form-callback__sub-title ТОЦ «Эврика» Класса В+
        span.form-callback__title Форма обратной связи
        p.form-callback__desc Свяжитесь с нами, заполнив анкету ниже, или позвоните по телефону <a href="tel: +78123330444">+7 (812) 333-0-444</a>

        form(action="")
            .input-field
                input(type="text")
                span.input-field__label Ваше имя*
                span.input-field__error Это обязательное поле
            .input-field
                input(type="text")
                span.input-field__label Эл. почта*
                span.input-field__error Это обязательное поле 
            .input-field
                input(type="text")
                span.input-field__label Телефон для связи*
                span.input-field__error Это обязательное поле
            .input-field
                textarea(resize="none")
                span.input-field__label Напишите Ваши пожелания или предпочтения
            button(type="submit").form-callback__btn Отправить заявку
            p Нажимая на кнопку выше, вы соглашаетесь с <a href="javascript:void(0)">Условиями</a> и <a href="javascript:void(0)">Политикой конфиденциальности</a>

    <!-- после успешной отправки такой вид -->
    .form-callback__container.success(style="display: none;")
        span.form-callback__sub-title ТОЦ «Эврика» Класса В+
        .form-callback__success-title Заявка успешно отправлена    
        p.form-callback__desc Менеджер бизнес-центра свяжемся с вами через несколько минут для уточнения деталей
