section.cta-bottom
    .n-container
        h3 Не нашли подходящее помещение?
        p Воспользуйтесь <a href="javascript:void(0)">умным поиском</a> или закажите <a href="javascript:void(0)">обратный звонок</a>