mixin social_link(icon_id)
    a(href="javascript:void(0)" target="_blank")
        svg
            use(xlink:href= icon_id)

footer.footer

    a(href="javascript:void(0)")#up_btn
        .footer__up-btn
            svg
                use(xlink:href="#arrow_down")

    .n-container
        .footer-top
            a.footer-top__logo(href="/" title="Главная")
                img(src="./img/svg/logo_green.svg", alt="Главная")
            .footer-top__row
                a(href="javascript:void(0)") Бизнес-центры
                a(href="javascript:void(0)") Аренда недвижимости
                a(href="javascript:void(0)") Продажа недвижимости
                a(href="javascript:void(0)") О компании
                a(href="javascript:void(0)") Новости
                a(href="javascript:void(0)") Контакты
            
        .footer-menu
            a(href="javascript:void(0)") Коммерческая недвижимость
            a(href="javascript:void(0)") Аренда офисов
            a(href="javascript:void(0)") Статьи
            a(href="javascript:void(0)") Советы по аренде
            a(href="javascript:void(0)") Сервисы на сайте
            a(href="javascript:void(0)") Вопрос-ответ
            a(href="javascript:void(0)") Отзывы
            a(href="javascript:void(0)") Карта сайта

        .footer-content
            .footer-content__left
                p © 2019 УК «Теорема»,<br>Санкт-Петербург, Свердловская наб., 38, лит. Ж,<br> <a href="tel:+78123330444">+7 (812) 333-0-444</a><br>Часы работы отдела аренды: 9:30-18:00, кроме выходных
            .footer-content__right
                p Настоящий сайт и представленные на нем материалы носят исключительно информационный характер и ни при каких условиях не являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
            

        .footer-bot
            //- .footer-bot__col
            //-     a(href="javascript:void(0)") Политика конфиденциальности
            //-     a(href="javascript:void(0)") Условия пользования
            .footer-bot__col
                .footer-social
                    +social_link('#telegram-icon')
                    +social_link('#instagram-icon')
                    +social_link('#facebook-icon')
                    +social_link('#vk-icon')
                    +social_link('#ok-icon')
                    +social_link('#twitter-icon')
                    +social_link('#whatsapp-icon')
                    +social_link('#viber-icon')
            .footer-bot__col
                a(href="javascript:void(0)" target="_blank") Разработка сайта Digital Dinamics LSS,
                a(href="http://instagram.com/midyanets" target="_blank") Дизайн сайта Midyanets