section.rent.n-block
    .n-container
        h3 Арендаторы тоц «Эврика»
            span.triangle-red

        .rent-slider
            button.rent-slider-prev
            button.rent-slider-next
            .rent-slider__container
                .rent-item
                    img(src="./img/png/dako-7.png")
                .rent-item
                    img(src="./img/png/dako-1.png")
                .rent-item
                    img(src="./img/png/dako-2.png")
                .rent-item
                    img(src="./img/png/dako-3.png")
                .rent-item
                    img(src="./img/png/dako-4.png")
                .rent-item
                    img(src="./img/png/dako-5.png")
                .rent-item
                    img(src="./img/png/dako-6.png")
                .rent-item
                    img(src="./img/png/dako.png")
                .rent-item
                    img(src="./img/png/dako-6.png")
                .rent-item
                    img(src="./img/png/dako.png")