section.n-block.teorema-text
    .n-container
        .teorema-text__left
            h3 Офис и парковка за полцены
                span.triangle-red
            p Предложение действует с 01.02.19 по 31.08.19 и распространяется на бизнес-центры в Невском районе (<a href="javascript:void(0)">«Обухов-Центр»</a>, <a href="javascript:void(0)">«Т4»</a>, <a href="javascript:void(0)">ТОЦ «Эврика»</a>).

        .teorema-text__right
            p Новые арендаторы деловых центров класса B+ получают в аренду помещения за полцены на 4 месяца и машино-места на 11 месяцев. Предложение распространяется на свободные помещения офисного, складского и универсального назначения размером от 30 м2 и более.  Машино-места предоставляются из расчета:  одно место на каждые 35 м2 арендованной в бизнес-центре площади.
            p
                b Звоните по т. 333-0-444 в отдел аренды УК «Теорема», чтобы получить расчет арендной платы по акциям, информацию о размерах скидок и предоплате. <br> Помещения передаются с готовностью <a href="javascript:void(0)">«под ключ»</a>. <br> Аренда по системе <a href="javascript:void(0)">«все включено»</a>.
