section.promo.promo-row.about__promo-row
    .n-container.promo-row__n-container
        .promo__left
            h2 23 года на рынке коммерческой недвижимости
                span.triangle-red
        .promo__right
            p УК «Теорема»  управляет 185 тысячами квадратных метров офисных, торговых и складских площадей. Нестандартные архитектурные решения - отличительная черта работы компании. Большинство проектов было разработано известным архитектурным бюро NPS Tchoban Voss (Германия). Среди арендаторов такие крупные компании, как DHL, Luxoft, Nokia Solutions and Networks, Quest, Redmond, Х5 Retail Group, Wrike, Yadro, «Абсолют Банк», «АШАН», «Мицубиси Электрик», «Яндекс» и другие.