section.n-block.bc-promo.about-promo
    .n-container.bc-promo__first
        .bc-promo__left
            h1 Управляющая компания<br> «теорема»
                span.triangle-red
        .bc-promo__right
            include ../../components/teorema_social.pug

    .bc-promo__main
        .bc-promo-galery
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red3.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии
            .bc-promo-galery__item
                .bc-promo-galery__item-img
                    img(src="./img/png/evrika_red2.png")
                .bc-promo-galery__item-text Короткая подпись к фотографии

    ul.n-container.bc-promo__last
        li.bc-promo__bullet
            .bc-promo__bullet-title Год основания
            .bc-promo__bullet-text 1997 год
        li.bc-promo__bullet
            .bc-promo__bullet-title Площадь объектов
            .bc-promo__bullet-text 180 000 м²
        li.bc-promo__bullet
            .bc-promo__bullet-title Класс объектов
            .bc-promo__bullet-text А, В+
        li.bc-promo__bullet
            .bc-promo__bullet-title Количество зданий
            .bc-promo__bullet-text 16 зданий
        li.bc-promo__bullet
            .bc-promo__bullet-title Регалии
            .bc-promo__bullet-text 11 наград