section.about-chess 
    .n-container.about-chess__n-container
        .chess-block
            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/main_page/about/1.jpg" type="image/webp")
                            img(
                                src = "./img/main_page/about/1.jpg"
                                srcset = "./img/main_page/about/1.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 Девелопмент
                    p «Теорема» — известный петербургский девелопер, который ввел в эксплуатацию 10 бизнес-центров класса А и B+. Эти объекты компании отличаются уникальной архитектурой, современным инженерным оснащением, качественной отделкой и развитой инфраструктурой. Уже на этапе проектирования УК делает все возможное, чтобы обеспечить комфортные условия для эффективной работы организаций-арендаторов.

            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/main_page/about/2.jpg" type="image/webp")
                            img(
                                src = "./img/main_page/about/2.jpg"
                                srcset = "./img/main_page/about/2.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 Эксплуатация
                    p Компания поддерживает бесперебойную работу всех инженерных систем на объектах 24/7. Координация работы различных обслуживающих подразделений гарантирует безопасность и комфорт, чистоту и порядок, работу парковок и служб приема посетителей. Для эффективного взаимодействия арендаторов и управляющей компании на всех объектах внедрён онлайн-сервис «Теорема».
            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/main_page/about/2.jpg" type="image/webp")
                            img(
                                src = "./img/main_page/about/2.jpg"
                                srcset = "./img/main_page/about/2.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 Аренда
                    p Благодаря системе «всё включено» и гибкому подходу «Теорема» предлагает выгодные решения по аренде офисов и прочих коммерческих помещений. Они предоставляются с готовой отделкой и оснащением, но по согласованию могут быть перепланированы и отремонтированы по желанию арендатора. УК нацелена на содействие успешному развитию бизнеса клиентов, поэтому стремится оказывать качественные услуги по оптимальным ценам.