section.articles-list
    .blog-header
        .blog-header__container
            .blog-header__row
                .blog-header__label Всего 15 статей

    .n-container.articles-list__n-container

        a(href="javascript:void(0)").articles-list-item
            .articles-list-item__img
                picture
                    source( srcset="./img/jpg/content_x2/table.jpg" type="image/webp")
                    img(
                        src = "./img/jpg/content_x2/table.jpg"
                        srcset = "./img/jpg/content_x2/table.jpg"
                    )
            .articles-list-item__body
                h4 Перспективная аренда этажа в историческом центре Санкт-Петербурга. БЦ «Лангензипен»
                p В бизнес-центре «Лангензипен», расположенному на Петроградской стороне, доступны для аренды 874 квадратных метра, представляющие собой 5-й этаж исторического здания. Занять такую площадь — значит работать там, где комфортно, безопасно и престижно.

                .articles-list-item__date 31.01.2020
        a(href="javascript:void(0)").articles-list-item
            .articles-list-item__img
                picture
                    source( srcset="./img/jpg/content_x2/light.jpg" type="image/webp")
                    img(
                        src = "./img/jpg/content_x2/light.jpg"
                        srcset = "./img/jpg/content_x2/light.jpg"
                    )
            .articles-list-item__body
                h4 Аренда видового этажа в БЦ «H2O»для создания комфортабельного офиса
                p В бизнес-центре «H2O» класса В+ освободилось превосходное офисное помещение формата open space. Серьезному арендатору, безусловно, будет, где развернуться: в его распоряжении окажется весь 7-й этаж площадью 762 кв. м с возможностью изменения планировки и отделки.

                .articles-list-item__date 31.01.2020
        a(href="javascript:void(0)").articles-list-item
            .articles-list-item__img
                picture
                    source( srcset="./img/jpg/content_x2/cab.jpg" type="image/webp")
                    img(
                        src = "./img/jpg/content_x2/cab.jpg"
                        srcset = "./img/jpg/content_x2/cab.jpg"
                    )
            .articles-list-item__body
                h4 Эффективная эксплуатация бизнес-центров
                p Практически все помещения УК «Теорема» сдает с отделкой под ключ, поэтому новый арендатор, расставив мебель и подключив оргтехнику, может сразу начать работать. Основной круг вопросов, связанных с жизнедеятельностью бизнес-центра, возьмет на себя служба эксплуатации управляющей компании, причем в рамках договора аренды без дополнительной оплаты. Так на какие же конкретные услуги может рассчитывать арендатор?

                .articles-list-item__date 31.01.2020


        .blog-ctrls
            .blog-ctrls__loader
                .blog-ctrls__loader-col
                    .blog-ctrls__loader-icon
                        img(src="./img/svg/loader.svg")
                    .blog-ctrls__loader-text Загрузка…
            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще
                button.table-body__ctrl-btn Скрыть