section.n-block.n-block--bordered.bc-desc
    .n-container
        h3 О Бизнес-Парке
            span.triangle-red
        .bc-desc__text
            p Бизнес-Парк расположен между Свердловской набережной, Феодосийской улицей, Пискаревским и Полюстровским проспектами в 20 минутах езды от центра города. УК «Теорема» начала девелопмент этой территории в 2003 году. <br><br>Сегодня это уникальный деловой квартал, занимающий 160 000 м2. Здесь находятся бизнес-центр «Бенуа», деловой комплекс «Времена года», «35-й корпус», восемь исторических зданий и парк. Рядом построен жилой комплекс «Пять звёзд». Более половины офисных площадей арендуют IT компании.