section.bpp-about
    .n-container.bpp-about__n-container
        .chess-block
            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/main_page/about/1.jpg" type="image/webp")
                            img(
                                src = "./img/bpp/bpp_about_1.jpg"
                                srcset = "./img/bpp/bpp_about_1.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 Реновация наследия прошлого
                    p В Бизнес-Парке находятся восемь исторических зданий, часть которых была возведена в XVIII веке для канцлера Безбородко, а другие — в XIX веке для Елизаветинской общины Красного Креста. После восстановления фасадного декора и внутреннего ремонта большинство зданий стали офисными.

            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/bpp/bpp_about_2.jpg" type="image/webp")
                            img(
                                src = "./img/bpp/bpp_about_2.jpg"
                                srcset = "./img/bpp/bpp_about_2.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 общественное пространство
                    p Около половины территории БП «Полюстрово» занимает красивый парк с тенистыми аллеями и живописным озером. Особую атмосферу этому месту придаёт гармоничный ландшафтный дизайн. Постоянными жителями парка являются белки и лебеди. Приятное дополнение к отдыху под открытым небом - посещение кафе и ресторанов, открытых в Бизнес-Парке.

            .chess-block-item
                .chess-block-item__col.chess-block-item__img-content
                    .chess-block-item__img
                        picture
                            source( srcset="./img/bpp/bpp_about_1.jpg" type="image/webp")
                            img(
                                src = "./img/bpp/bpp_about_1.jpg"
                                srcset = "./img/bpp/bpp_about_1.jpg")
                    .chess-block-item__img-text Короткая подпись к фотографии

                .chess-block-item__col.chess-block-item__text-content
                    h3 Социальная ответственность
                    p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк» и центр «Пакитан» для детей с особенностями в развитии. В выходные для горожан проходят необычные представления «Упсала-Парка» в формате open air. Для занятий спортом здесь есть уличные тренажеры, йога-центр и велопарковки. Благодаря Free Wi-Fi парк является не только местом для отдыха, но и для работы.