section.bpp-dd
    .n-container.bpp-dd__n-container

        .n-dropdown
            .n-dropdown__heading
                h4.n-dropdown__heading-title Аэротур 360°
                p.n-dropdown__heading-sub-title Обзор бизнес-парка с высоты
                .n-dropdown__heading-arrow
            .n-dropdown__content
                .bc__cam
                    img(src="./img/jpg/video_cam.jpg")
        .n-dropdown
            .n-dropdown__heading
                h4.n-dropdown__heading-title Виртуальный тур
                p.n-dropdown__heading-sub-title Прогуляйтесь по зданию прямо сейчас
                .n-dropdown__heading-arrow
            .n-dropdown__content
                .bc__virtual
                    img(src="./img/jpg/virtual.jpg")