mixin bpp_plus()
    .bpp-inf-item__plus
        svg
            use( xlink:href="#plus-icon" ) 

a(href="javascript:void(0)" data-bpp-inf="1").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Въезд на территорию
        +bpp_plus()

    .bpp-inf-item__body
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>A</b> —
            .bpp-inf-item__vadik-text въезд/выезд со Свердловской наб., с 7:30 до 23:00, кроме выходных
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>B</b> —
            .bpp-inf-item__vadik-text въезд/выезд с Феодосийской ул. только для арендаторов, с 7:30 до 19:00, кроме выходных
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>C</b> —
            .bpp-inf-item__vadik-text въезд с ул. Жукова, 24/7
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>D</b> —
            .bpp-inf-item__vadik-text выезд на ул. Жукова, 24/7


a(href="javascript:void(0)" data-bpp-inf="2").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Парковки
        +bpp_plus()

    .bpp-inf-item__body
        p Количество машино-мест на парковках:
        .bpp-inf-item__body-row       
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>A</b> —
                .bpp-inf-item__vadik-text 480
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>E</b> —
                .bpp-inf-item__vadik-text 10
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>I</b> —
                .bpp-inf-item__vadik-text 20
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>B</b> —
                .bpp-inf-item__vadik-text 100
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>F</b> —
                .bpp-inf-item__vadik-text 40
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>J</b> —
                .bpp-inf-item__vadik-text 10
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>C</b> —
                .bpp-inf-item__vadik-text 50
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>G</b> —
                .bpp-inf-item__vadik-text 230
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>K</b> —
                .bpp-inf-item__vadik-text 180
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>D</b> —
                .bpp-inf-item__vadik-text 10
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>H</b> —
                .bpp-inf-item__vadik-text 210
            .bpp-inf-item__vadik
                .bpp-inf-item__vadik-title <b>L</b> —
                .bpp-inf-item__vadik-text 215

        p Всего 1 210 машино-мест. Также оборудована крытая велопарковка на 100 мест.

a(href="javascript:void(0)" data-bpp-inf="3").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Главная аллея с Wi-Fi
        +bpp_plus()

    .bpp-inf-item__body
        p Благодаря Free Wi-Fi парк является не только местом для отдыха, но и для работы.

a(href="javascript:void(0)" data-bpp-inf="4").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Кафе и рестораны
        +bpp_plus()

    .bpp-inf-item__body
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>A</b> —
            .bpp-inf-item__vadik-text ресторан «Ламантин»
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>B</b> —
            .bpp-inf-item__vadik-text кафе «Кофе и Вафли»
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>C</b> —
            .bpp-inf-item__vadik-text кафе, бистро, ресторан «Лето на Поляне»
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>D</b> —
            .bpp-inf-item__vadik-text кафе «Чайный Домик»

a(href="javascript:void(0)" data-bpp-inf="5").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Магазины
        +bpp_plus()

    .bpp-inf-item__body
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>A</b> —
            .bpp-inf-item__vadik-text «ДеКанто»
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>B</b> —
            .bpp-inf-item__vadik-text «Праздничный Город»
        .bpp-inf-item__vadik
            .bpp-inf-item__vadik-title <b>C</b> —
            .bpp-inf-item__vadik-text «StopExpress»


a(href="javascript:void(0)" data-bpp-inf="6").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Салон красоты
        +bpp_plus()

    .bpp-inf-item__body
        p Текст про салон красоты, например, как найти, на каком этаже и до скольки работает, может номер телефона

a(href="javascript:void(0)" data-bpp-inf="7").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name уличные тренажеры
        +bpp_plus()

    .bpp-inf-item__body
        p Текст про тренажеры, например, как найти, на каком этаже и до скольки работает, может номер телефона

a(href="javascript:void(0)" data-bpp-inf="8").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name «Упсала-Цирк»
        +bpp_plus()

    .bpp-inf-item__body
        p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк»

a(href="javascript:void(0)" data-bpp-inf="9").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Детский творческий центр «Пакитан»
        +bpp_plus()

    .bpp-inf-item__body
        p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк»

a(href="javascript:void(0)" data-bpp-inf="10").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name автосервис «Авангард» 
        +bpp_plus()

    .bpp-inf-item__body
        p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк»

a(href="javascript:void(0)" data-bpp-inf="11").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Мойка, шиномонтаж «Фантом»
        +bpp_plus()

    .bpp-inf-item__body
        p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк»

a(href="javascript:void(0)" data-bpp-inf="12").bpp-inf-item
    .bpp-inf-item__head
        .bpp-inf-item__name Остановка бесплатного автобуса
        +bpp_plus()

    .bpp-inf-item__body
        p В Бизнес-Парке открыты первый в мире цирк для хулиганов «Упсала-Цирк»