mixin desc_item(h4, p)
    .office-main-desc-item
        h4= h4
        p= p


.office-main-desc__container
    .office-main-desc__col
        +desc_item('АРЕНДА УНИВЕРСАЛЬНОГО ПОМЕЩЕНИЯ В ТОЦ «ЭВРИКА»', 'Площадь 473 кв. м на 1-м этаже торговой зоны. Сдается от собственника. Возможна увеличение площади до 873 кв. м.')
        +desc_item('назначение помещения', 'Под офис обслуживания, магазин, сферу услуг, парк развлечений.')
        +desc_item('отделка помещения', 'Витринные окна со стороны главного фасада, стеклянная перегородка с маятниковой дверью (вход для посетителей), торговая зона open space, подвесные потолки с LED светильниками 600х600, на стенах оклеенный и окрашенный гипрок, напольное покрытие - гомогенный линолеум и керамическая плитка, 2 санузла.')
        +desc_item('Аренда по системе «все включено»', 'НДС, страхование ответственности арендодателя перед арендатором, коммунальные услуги, эксплуатация, Интернет для абонентов «Теорема Телеком», клининг, бесплатный автобус от/до ст. м. «Площадь Ленина» для сотрудников и посетителей.')
        +desc_item('Дополнительные услуги', 'Планировка и отделка по ТЗ арендатора, монтаж/демонтаж перегородок, розеток, дверей, предоставление необходимого количества телефонных линий и парковочных мест, возможна организация кофейной комнаты и контроля доступа на этаж.')
    .office-main-desc__col
        +desc_item('ОПИСАНИЕ ТОЦ', '3 нижних этажа — торговый центр с большим потоком посетителей, хорошим подъездом и удобной зоной для разгрузки товара. В торговой зоне имеются кафе, ресторан, пиццерия, гипермаркет, магазины, фитнес-центр, теннисная комната, салон красоты, аптека, банкоматы, платежные терминалы. Якорными арендаторами являются «Ашан», «Лапси», «Розовый кролик», «Мои любимые игрушки», «Евроспорт», «Триал-Спорт», «Связной».')
        +desc_item('ОСНАЩЕНИЕ ТОЦ', 'Системы контроля доступа, видеонаблюдения, противопожарной защиты, приточно-вытяжной вентиляции, кондиционирования, цифровая телефония, Интернет, пассажирские и грузовые лифты, эскалаторы, отопительные приборы конвекторного типа, автономное теплоснабжение, центральные электроснабжение, водоснабжение и водоотведение. Имеются парковки для посетителей (2 часа бесплатно) и арендаторов.')
        +desc_item('РАСПОЛОЖЕНИЕ ТОЦ', '10-15 минут езды от ст. м. «Елизаровская» и КАД.')
        +desc_item('АРХИТЕКТУРНЫЙ ПРОЕКТ ТОЦ', 'Архитектурная фабрика «32 декабря»')
        +desc_item('РЕЖИМ РАБОТЫ ТОЦ', 'Круглосуточный, без выходных.')