section.advices-list
    .blog-header
        .blog-header__container
            .blog-header__row
                .blog-header__label Всего 15 советов

    .n-container.advices-list__n-container

        .advices-list__list
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 Где комфортно вашему бизнесу?
                    p Важно не только «что» и «когда» делает компания на рынке, но и «где». Помимо продукта или услуги, с которой она выходит на рынок, и своевременности предложения по отношению к спросу, фактором успеха бизнеса является то пространство, в …
                    span Узнать больше
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 5 причин арендовать этаж в комфортабельном бизнес-центре
                    p Порой бывает очень трудно понять, что стало причиной проведения удачной сделки по аренде и возникновения многолетнего выгодного сотрудничества: рациональные доводы или положительные эмоции клиента. В любом случае уровень бизнес-центра и … 
                    span Узнать больше
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 Переезд – это просто
                    p Именно переезд становится первой контрольной точкой, позволяющей определить: насколько правильно выбран конкретный бизнес-центр и управляющая компания. В случае с УК «Теорема» сам собой отпадает первый и очень важный вопрос …
                    span Узнать больше
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 Переезд – это просто
                    p Именно переезд становится первой контрольной точкой, позволяющей определить: насколько правильно выбран конкретный бизнес-центр и управляющая компания. В случае с УК «Теорема» сам собой отпадает первый и очень важный вопрос …
                    span Узнать больше
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 Переезд – это просто
                    p Именно переезд становится первой контрольной точкой, позволяющей определить: насколько правильно выбран конкретный бизнес-центр и управляющая компания. В случае с УК «Теорема» сам собой отпадает первый и очень важный вопрос …
                    span Узнать больше
            a(href="javascript:void(0)").benefit-card.advices-list-item
                .benefit-card__wrap
                    h4 Переезд – это просто
                    p Именно переезд становится первой контрольной точкой, позволяющей определить: насколько правильно выбран конкретный бизнес-центр и управляющая компания. В случае с УК «Теорема» сам собой отпадает первый и очень важный вопрос …
                    span Узнать больше


        .blog-ctrls
            .blog-ctrls__loader
                .blog-ctrls__loader-col
                    .blog-ctrls__loader-icon
                        img(src="./img/svg/loader.svg")
                    .blog-ctrls__loader-text Загрузка…
            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще
                button.table-body__ctrl-btn Скрыть