//- video(width="400" height="200" controls)#video_js_example.video-js.vjs-default-skin
//-     source(src="http://80.250.184.108:8080/cam1/stream.m3u8" type="application/x-mpegURL")


//- div.flowplayer.fixed-controls.no-toggle.no-time.play-button.obj(data-key="$812975748999788" data-live="true" data-share="false" data-ratio="0.5625"  data-logo="")
//-     video(autoplay="true" stretch="true")
//-         source(src="http://80.250.184.108:8080/cam1/stream.m3u8" type="application/x-mpegURL")
