.table.filter-result__bc-table(data-f-result-tab="bc")

    <!-- *Новый элемент, виден тока на мобилке -->
    .table__offer
        span Свободно 666 помещений

    .table-head__full
        .table-head(table-container="1312")
            .table-head__label(bc-col="1") Свободно 666 помещений 
            a.table-head__label( href="javascript:void(0)" ).table-head__sort.table-head__label-class
                span Класс
            .table-head__label(bc-col="2") Бизнец-центр
            a.table-head__label(bc-col="3" href="javascript:void(0)").table-head__sort.active 
                span Ставка
            .table-head__label(bc-col="4") Доступные площади

    .table-body__list(table-container="1312")
        include table_bc_item.pug