.table-bc

    .table-bc__body
        .table-bc__row(bc-col="1")
            a(href="javascript:void(0)").table-bc__img
                img(src="./img/jpg/table_room_example_1.jpg")

            .table-bc__info
                a(href="javascript:void(0)").table-bc__bc
                    span.table-bc__bc-class(bc-class="B+")
                    span.table-bc__bc-name «Т4»
                .table-bc__address
                    p Седова улица, 12 <br>ст. м. «Елизаровская»
                a(href="javascript:void(0)").table-bc__onmap
                    .table-bc__onmap-icon
                    span На карте

        a.table-bc__logo(bc-col="2" href="javascript:void(0)" title="На страницу бизнес-центра")
            img(src="./img/bc_logo/benua.jpg")
    
        .table-bc__price(bc-col="3") от 1000 ₽/м²/месяц

        button.table-bc__show-btn(bc-col="4") показать свободные площади от <span class="table-bc__show-btn--number">17</span> до <span class="table-bc__show-btn--number">1 013 </span><span class="table-bc__show-btn--measure">м²</span><span class="table-bc__show-btn--amount">13</span>

    .table-bc__map(style="display: none;")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.4584604592787!2d37.736840716089695!3d55.78527669695414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5353d8efe8cd9%3A0x1d5e280b7b09c6cb!2z0KTQvtGA0YLRg9C90LDRgtC-0LLRgdC60LDRjyDRg9C7LiwgMzEvMzUsINCc0L7RgdC60LLQsCwgMTA1MTg3!5e0!3m2!1sru!2sru!4v1562327751668!5m2!1sru!2sru" allowfullscreen="" width="100%" height="100%" frameborder="0") 