.table-double

    <!-- Табы -->
    include ../filter/filter_result_tabs.pug

    <!-- Таблица выгрузки Бизнес-Центров -->
    include table_bc.pug

    <!-- Таблица выгрузки Помещений -->
    .table(style="display: none;" data-f-result-tab="room")
        .table__offer
            span В акции 666 помещений

        .table__sort
            .table__sort-select
                select
                    option(value="1") цена по возрастанию
                    option(value="2") цена по убыванию
                    option(value="3") площадь по возрастанию
                    option(value="4") площадь по убыванию

        .table-head__full
            .table-head(table-container="1312")
                .table-head__label(table-col="1") Свободно 666 помещений 
                a(href="javascript:void(0)" table-col="2").table-head__label.table-head__sort.active 
                    span Площадь
                a(href="javascript:void(0)").table-head__label.table-head__sort.table-head__label-class
                    span Класс
                a(href="javascript:void(0)" table-col="3").table-head__label.table-head__sort 
                    span Стоимость
                a.table-head__label(table-col="4" href="javascript:void(0)").table-head__sort 
                    span Ставка
                .table-head__label(table-col="5").table-head__compare
                    div Сравнение <span>3</span>
                .table-head__label(table-col="6").table-head__order
                    div Заявка <span>3</span>
        .table-body
            include table_order.pug
            include table_compare.pug

            .table-body__list(table-container="1312")
                include table_room_item.pug

            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще 
                button.table-body__ctrl-btn Скрыть