.table-room
    .table-room__head(table-container="1090")
        a.table-room__name(href="javascript:void(0)" data-desktop-loc="office_name_{example_1}" data-mobile-width="768") ОФИС № 834.1
        .table-room__offer
            span Акция 
            .table-room__offer-links
                a(href="javascript:void(0)") «2 месяца аренды бесплатно» <span></span>
    .table-room__body(table-container="1090")
        .table-room__row(bc-room-col="1")
            a(href="javascript:void(0)").table-room__img
                img(src="./img/jpg/table_room_example_1.jpg")
            a.table-room__name(href="" data-mobile-loc="office_name_{example_1}" data-mobile-width="768")

            a(href="javascript:void(0)" floor="1").table-room__onplan
                .table-room__onplan-icon
                span 1 этаж

        .table-room__chars(bc-room-col="2")
            .table-room__chars-title площадь
            .table-room__chars-value 9 999 м²
        .table-room__chars(bc-room-col="3")
            .table-room__chars-title стоимость
            .table-room__chars-value 99 999 999 ₽/месяц
        .table-room__chars(bc-room-col="4")
            .table-room__chars-title ставка
            .table-room__chars-value 999 999 ₽/месяц
        a.table-room__compare-btn(href="javascript:void(0)" bc-room-col="5")
            span Добавить в сравнение
            svg
                use(xlink:href="#compare-icon")
        button.table-room__order-btn(bc-room-col="6") Добавить в заявку

    .table-room__plan(style="display: none;")
        <!-- сюды вставляем планировку -->
        .plan-tooltip
            .plan-tooltip__office Офис 1/2/3/4
            .plan-tooltip__sqr 666 м²
            .plan-tooltip__price 1 700 ₽/м²/месяц

.table-room
    .table-room__head(table-container="1090")
        a.table-room__name(href="javascript:void(0)" data-desktop-loc="office_name_{example_2}" data-mobile-width="768") ОФИС № 834.1
        .table-room__offer
            span Акция 
            .table-room__offer-links
                a(href="javascript:void(0)") «2 месяца аренды бесплатно» <span></span>
    .table-room__body(table-container="1090")
        .table-room__row(bc-room-col="1")
            a(href="javascript:void(0)").table-room__img
                img(src="./img/jpg/table_room_example_1.jpg")
            a.table-room__name(href="" data-mobile-loc="office_name_{example_2}" data-mobile-width="768")

            a(href="javascript:void(0)" floor="1").table-room__onplan
                .table-room__onplan-icon
                span 1 этаж

        .table-room__chars(bc-room-col="2")
            .table-room__chars-title площадь
            .table-room__chars-value 9 999 м²
        .table-room__chars(bc-room-col="3")
            .table-room__chars-title стоимость
            .table-room__chars-value 99 999 999 ₽/месяц
        .table-room__chars(bc-room-col="4")
            .table-room__chars-title ставка
            .table-room__chars-value 999 999 ₽/месяц
        a.table-room__compare-btn(href="javascript:void(0)" bc-room-col="5")
            span Добавить в сравнение
            svg
                use(xlink:href="#compare-icon")
        button.table-room__order-btn(bc-room-col="6") Добавить в заявку

    .table-room__plan(style="display: none;")
        <!-- сюды вставляем планировку -->
        .plan-tooltip
            .plan-tooltip__office Офис 1/2/3/4
            .plan-tooltip__sqr 666 м²
            .plan-tooltip__price 1 700 ₽/м²/месяц

.table-room
    .table-room__head(table-container="1090")
        a.table-room__name(href="javascript:void(0)" data-desktop-loc="office_name_{example_3}" data-mobile-width="768") ОФИС № 834.1
        .table-room__offer
            span Акция 
            .table-room__offer-links
                a(href="javascript:void(0)") «2 месяца аренды бесплатно» <span></span>
    .table-room__body(table-container="1090")
        .table-room__row(bc-room-col="1")
            a(href="javascript:void(0)").table-room__img
                img(src="./img/jpg/table_room_example_1.jpg")
            a.table-room__name(href="" data-mobile-loc="office_name_{example_3}" data-mobile-width="768")

            a(href="javascript:void(0)" floor="1").table-room__onplan
                .table-room__onplan-icon
                span 1 этаж

        .table-room__chars(bc-room-col="2")
            .table-room__chars-title площадь
            .table-room__chars-value 9 999 м²
        .table-room__chars(bc-room-col="3")
            .table-room__chars-title стоимость
            .table-room__chars-value 99 999 999 ₽/месяц
        .table-room__chars(bc-room-col="4")
            .table-room__chars-title ставка
            .table-room__chars-value 999 999 ₽/месяц
        a.table-room__compare-btn(href="javascript:void(0)" bc-room-col="5")
            span Добавить в сравнение
            svg
                use(xlink:href="#compare-icon")
        button.table-room__order-btn(bc-room-col="6") Добавить в заявку

    .table-room__plan(style="display: none;")
        <!-- сюды вставляем планировку -->
        .plan-tooltip
            .plan-tooltip__office Офис 1/2/3/4
            .plan-tooltip__sqr 666 м²
            .plan-tooltip__price 1 700 ₽/м²/месяц

.table-room
    .table-room__head(table-container="1090")
        a.table-room__name(href="javascript:void(0)" data-desktop-loc="office_name_{example_4}" data-mobile-width="768") ОФИС № 834.1
        .table-room__offer
            span Акция 
            .table-room__offer-links
                a(href="javascript:void(0)") «2 месяца аренды бесплатно» <span></span>
    .table-room__body(table-container="1090")
        .table-room__row(bc-room-col="1")
            a(href="javascript:void(0)").table-room__img
                img(src="./img/jpg/table_room_example_1.jpg")
            a.table-room__name(href="" data-mobile-loc="office_name_{example_4}" data-mobile-width="768")

            a(href="javascript:void(0)" floor="1").table-room__onplan
                .table-room__onplan-icon
                span 1 этаж

        .table-room__chars(bc-room-col="2")
            .table-room__chars-title площадь
            .table-room__chars-value 9 999 м²
        .table-room__chars(bc-room-col="3")
            .table-room__chars-title стоимость
            .table-room__chars-value 99 999 999 ₽/месяц
        .table-room__chars(bc-room-col="4")
            .table-room__chars-title ставка
            .table-room__chars-value 999 999 ₽/месяц
        a.table-room__compare-btn(href="javascript:void(0)" bc-room-col="5")
            span Добавить в сравнение
            svg
                use(xlink:href="#compare-icon")
        button.table-room__order-btn(bc-room-col="6") Добавить в заявку

    .table-room__plan(style="display: none;")
        <!-- сюды вставляем планировку -->
        .plan-tooltip
            .plan-tooltip__office Офис 1/2/3/4
            .plan-tooltip__sqr 666 м²
            .plan-tooltip__price 1 700 ₽/м²/месяц