.plan__legend.plan__legend-tc
    a(href="javascript:void(0)" data-legend="free").plan__legend-item
        span
        span Свободно
    a(href="javascript:void(0)" data-legend="lift-1").plan__legend-item
        span
        span Лифт пассажирский
    a(href="javascript:void(0)" data-legend="lift-2").plan__legend-item
        span
        span Лифт грузовой
    a(href="javascript:void(0)" data-legend="escalator").plan__legend-item
        span
        span Эскалатор
    a(href="javascript:void(0)" data-legend="stairs").plan__legend-item
        span
        span Лестница
    a(href="javascript:void(0)" data-legend="rest").plan__legend-item
        span
        span Кафе/ресторан
    a(href="javascript:void(0)" data-legend="wc").plan__legend-item
        span
        span WC