.plan__clients
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность
    a(href="javascript:void(0)")
        .plan__clients-office 666
        .plan__clients-name Имя организации
        .plan__clients-business Деятельность

    a(href="javascript:void(0)").plan__clients-btn 
        span Показать все