.plan__legend
    a(href="javascript:void(0)" legend="free").plan__legend-item
        span
        span Свободно
    a(href="javascript:void(0)" legend="empty").plan__legend-item
        span
        span Занято
    a(href="javascript:void(0)" legend="lift-1").plan__legend-item
        span
        span Лифт пассажирский
    a(href="javascript:void(0)" legend="lift-2").plan__legend-item
        span
        span Лифт грузовой
    a(href="javascript:void(0)" legend="talk").plan__legend-item
        span
        span Переговорная
    a(href="javascript:void(0)" legend="game").plan__legend-item
        span
        span Игровая
    a(href="javascript:void(0)" legend="rent").plan__legend-item
        span
        span Отдел аренды
    a(href="javascript:void(0)" legend="rest").plan__legend-item
        span
        span Кафе/ресторан
    a(href="javascript:void(0)" legend="wc").plan__legend-item
        span
        span WC