section.services-list
    .blog-header
        .blog-header__container
            .blog-header__row
                .blog-header__label Всего 15 отзывов

    .n-container.services-list__n-container

        .services-list__list
            .services-item
                .services-item__title ООО «АТМ»
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p Еженедельно в ATManagement приезжают десятки бизнесменов из всех уголков России и стран ближнего зарубежья. И нам очень важно, какое первое впечатление мы производим. Но перед тем как клиенты попадают непосредственно к нам в офис, где их радушно встречают наши сотрудники, они контактируют и с работниками бизнес-центра. И вот тут нам очень повезло, начиная с ресепшена нашего бизнес-центра. Приветливые администраторы и сотрудники охраны встречают гостей и следят за их безопасностью. Вежливый и дружелюбный обслуживающий персонал содержит все помещения, в том числе наши офисы и Академию, в идеальной чистоте и порядке. Мы хотим выразить огромную благодарность всем сотрудникам и руководству бизнес-центра «Т4», которые поддерживают имидж нашей компании за счет своей слаженной и отличной работы! Спасибо!
                            
                        .review-author Генеральный директор ООО «АТМ» Д. М. Гатина

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title ООО «Полома Менеджмент»
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p ООО «Полома Менеджмент» характеризует сотрудников УК «Теорема», работающих в «Обуховъ-Центре», как компетентную, профессиональную команду специалистов. За время совместной работы «Теорема» зарекомендовала себя надежным … <br><br> ООО «Полома Менеджмент» характеризует сотрудников УК «Теорема», работающих в «Обуховъ-Центре», как компетентную, профессиональную команду специалистов. За время совместной работы «Теорема» зарекомендовала себя надежным …

                        .review-author Генеральный директор ООО «АТМ» Д. М. Гатина

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title ООО «Физика вождения»
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p Все виды работ по клинингу УК «Теорема» организует с высоким качеством, в необходимом объеме и в установленные сроки. Хотелось бы также отметить доброжелательное и чуткое отношение к арендаторам, готовность всегда прийти на … Все виды работ по клинингу УК «Теорема» организует с высоким качеством, в необходимом объеме и в установленные сроки. Хотелось бы также отметить доброжелательное и чуткое отношение к арендаторам, готовность всегда прийти на …
                        .review-author Генеральный директор ООО «АТМ» Д. М. Гатина

                        button.text-expand__btn Развернуть 
        .blog-ctrls
            .blog-ctrls__loader
                .blog-ctrls__loader-col
                    .blog-ctrls__loader-icon
                        img(src="./img/svg/loader.svg")
                    .blog-ctrls__loader-text Загрузка…
            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще
                button.table-body__ctrl-btn Скрыть