include content_x2_item_text_only.pug

section.content-x2
    .n-container.content-x2__n-container
        +content_x2_item_text_only('Стоимость аренды офиса', 'open_space')
            p Одним из преимуществ является аренда без посредников по системе «всё включено». Ставка в диапазоне от 800 до 2100 рублей за квадратный метр в месяц. В зависимости от выбора стоимость аренды офисного помещения может составить от 30 тысяч до 1,8 миллиона рублей в месяц. Компания «Теорема» периодически проводит акции, благодаря которым можно снять помещение со скидкой.<br><br>Цена аренды офиса без посредников в деловых комплексах «Теоремы» указана в перечне свободных объектов, представленном выше. Для получения подробной информации кликните по фото или номеру помещения. Поиск помещения по параметрам доступен с помощью интерактивного фильтра, который расположен под кнопкой «найти помещение».
        +content_x2_item_text_only('Обслуживание на уровне класса «А»', 'table')
            p Аренда офиса в Санкт-Петербурге от собственника даёт существенные преференции, так как владелец заинтересован в долговременной аренде и стремится обеспечивать высокое качество сервиса. Офисные центры, которыми управляет «Теорема», и прилегающие к ним территории поддерживаются в идеальном состоянии, организованы вместительные парковки в общей сложности на 3 300 машино-мест, сформирована развитая социальная инфраструктура, обеспечено надёжное функционирование инженерных систем.<br><br>Для связи со специалистами управляющей компании, специально разработан и внедрён онлайн-сервис «Теорема». Он позволяет отправлять заявки онлайн и получать обратную связь: узнавать о выполнении работ или услуг и оценивать их качество. Таким образом, аренда офиса в деловых комплексах УК «Теорема» позволяет вести бизнес в комфортных условиях.
        +content_x2_item_text_only('Планировки объектов', 'light')
            p В настоящее время сдаются площади от 20 до 1500 кв. м. В аренду под офис можно выбрать объект наиболее подходящей планировки:
            ul
                li кабинетной;
                li кабинетно-коридорной;
                li опен спейс;
                li смешанной;
            p Поэтажные планы зданий представлены на этом сайте в описаниях офисов, доступных при поиске с помощью фильтра, а также на страницах соответствующих бизнес-центров.

        +content_x2_item_text_only('Заключение договора', 'cab')
            p Чтобы узнать условия аренды офисов без посредников, ознакомьтесь с типовыми договорами, размещёнными на страницах соответствующих офисных зданий. Чтобы получить дополнительную информацию, звоните по многоканальному телефону <a href="tel:">333-0-444</a> или воспользуйтесь сервисами «обратный звонок» и «онлайн-чат», доступными в полной версии сайта. Каждую сделку сопровождает квалифицированный менеджер, который ответит на вопросы, организует просмотр, предоставит нужную документацию, подготовит для подписания договор аренды нежилого помещения.
