include content_x2_item_text_only.pug

section.content-x2
    .n-container.content-x2__n-container
        +content_x2_item_text_only('Назначение помещений', 'face')
            p Предложение арендовать универсальное помещение может быть интересно организациям, осуществляющим различны виды деятельности. В настоящее время в деловых комплексах УК «Теорема» подобные площади уже занимают:
            ul
                li рестораны и кафе;
                li салоны красоты;
                li магазины и гипермаркеты;
                li спортивные центры;
                li медицинские учреждения;
                li автомойки;
                li автосалоны;
                li СТО;
                li склады.

        +content_x2_item_text_only('Перепланировка помещений', 'plan')
            p Помещение свободного назначения в аренду в Санкт-Петербурге предоставляется с возможностью изменения существующих планировки, отделки и оснащения после предварительного согласования с управляющей компанией. Она же может выполнить все необходимые работы. <br><br> Перечень вакантных помещений свободного назначения на сайте регулярно обновляется. Здесь можно ознакомиться с имеющимися вариантами и выбрать наиболее подходящий. Такие сервисы, как обратный звонок, онлайн консультант и отправка заявки, позволят связаться со специалистами УК, которые расскажут об условиях аренды, организуют показ помещений свободного назначения в удобное время и помогут сделать выбор.
