include content_x2_item_text_only.pug

section.content-x2
    .n-container.content-x2__n-container
        +content_x2_item_text_only('Эксклюзивное предложение', 'table')
            p Управляющая компания «Теорема» сформировала эксклюзивное предложение на рынке аренды ОСЗ под офис от собственника и сдаёт отдельно стоящее офисное здание, которое сочетает в себе изысканность памятника архитектуры и современный комфорт. Его площадь — 912 квадратных метров. Объект расположен в Калининском районе города, рядом со Свердловской набережной, в Бизнес-Парке «Полюстрово», который представляет собой живописное место с парком, озером и хорошей инфраструктурой, необходимой для арендаторов. А его элегантные старинные фасады могут украсить любой рекламный буклет.
        +content_x2_item_text_only('Функциональное рабочее пространство', 'table')
            p Просторные кабинеты позволят создать функциональное рабочее пространство. Практичная и стильная отделка зон общего пользования так же положительно повлияет на имидж будущего арендатора. Объект имеет такие инженерные системы, как:
            ul
                li парковка перед зданием на 14 машино-мест;
                li автономное теплоснабжение;
                li вентиляция и кондиционирование;
                li система противопожарной защиты;
                li ip-телефония, iptv, интернет >100 мбит/с.
        +content_x2_item_text_only('Договор аренды ОСЗ', 'table')
            p Договор аренды ОСЗ в Санкт-Петербурге заключается на срок не менее одиннадцати месяцев. В цену уже входят:
            ul
                li бесплатный автобус от ближайшей станции метро;
                li налог на добавленную стоимость;
                li коммунальные услуги;
                li профессиональная эксплуатация;
                li интернет (для абонентов «Теорема Телеком»).

        +content_x2_item_text_only('Как создать идеальный офис?', 'table')
            p Аренда здания – это правильный выбор и один из эффективных инструментов по формированию деловой репутации и привлечению клиентов. Ведь их первое впечатление формируется при посещении офиса: на него смотрят, как на торговую витрину. Таким образом, оптимальный вариант для создания штаб-квартиры организации - аренда отдельно стоящего здания в Санкт-Петербурге.
