include content_x2_item_text_only.pug

section.content-x2
    .n-container.content-x2__n-container
        +content_x2_item_text_only('Заголовок текста', 'face')
            p Все бизнес-центры класса А и В+, которыми управляет «Теорема», имеют инженерное оснащение, представленное системами связи, кондиционирования, вентиляции, контроля доступа, противопожарной безопасности, видеонаблюдения и другими. Помещения сдаются с полной отделкой, однако допустима перепланировка и отделка по индивидуальным проектам, согласованным с УК.<br>Воспользуйтесь предложением по аренде в бизнес-центрах класса А и В+ в Невском, Красногвардейском, Калининском и Петроградском районах. Посмотрите свободные помещения и планировки с помощью кнопки «найти помещение» вверху экрана.