section.services-list
    .blog-header
        .blog-header__container
            .blog-header__row
                .blog-header__label Всего 15 ответов

    .n-container.services-list__n-container

        .services-list__list
            .services-item
                .services-item__title Какие виды отделочных работ уже проведены в помещениях?
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p УК «Теорема» предоставляет в аренду помещения с отделкой и оснащением «под ключ». Это означает, что после оплаты по договору можно сразу занять арендованную площадь и приступить к работе.<br><br>В помещениях с типовой отделкой стены чаще всего из гипрока, оклеенного обоями с дальнейшей покраской. Напольным покрытием является ковролин, кроме ТОЦ «Эврика» и БЦ «T4», где в части помещений использован мармолеум (высокопрочный органический линолеум). Входные двери деревянные и оснащены удобными замками. LED cветильники, встроенные в подвесные потолки, обеспечивают искусственное освещение, а окна со стеклопакетами – естественное. Исключение составляют ряд помещений свободного назначения с витринным остеклением, стеклянными входными дверями и керамической плиткой в качестве напольного покрытия.<br><br>Кроме того, в помещениях есть отопительные приборы конвекторного типа, цифровая телефония, Интернет, приточно-вытяжная вентиляция и пожарная сигнализация. Во всех бизнес-центрах класса А и практически всех бизнес-центрах класса В+ также имеется кондиционирование воздуха.<br><br>При желании можно изменить уже существующие планировку и дизайн. Такие перемены обязательно согласовываются с управляющей компанией.

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title в бизнес-центре «Н2О» можно снять этаж целиком?
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p В бизнес-центре «Н2О» освободился видовой 7-й этаж. Его площадь 762 кв. м, планировка open space. Арендная ставка по системе «всё включено» составляет 888 руб./кв. м/месяц. <br><br>Помещение будет передано арендатору с готовностью под ключ. Возможны индивидуальная планировка и отделка этажа с учетом специфики работы и корпоративного стиля арендатора. Если представленный им дизайн-проект будет близок к типовому, УК «Теорема» выполнит строительство стен и отделку помещений без дополнительной оплаты.

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title что конкретно мы получим в пакете услуг «всё включено»?
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p Система «всё включено», которую предлагает клиентам УК «Теорема», означает, что арендная ставка, кроме 20-процентного налога на добавленную стоимость, уже включает оплату за достаточно большой пакет опций. Он обеспечит продуктивную работу и комфортное размещение.

                        button.text-expand__btn Развернуть 
        .blog-ctrls
            .blog-ctrls__loader
                .blog-ctrls__loader-col
                    .blog-ctrls__loader-icon
                        img(src="./img/svg/loader.svg")
                    .blog-ctrls__loader-text Загрузка…
            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще
                button.table-body__ctrl-btn Скрыть