//- mixin bc_class_icon(class)
    
//-     - var bc_class = class;

//-     if bc_class == 'A'
//-         .bc-class-icon(data-bc-class="A")
//-     else if bc_class == 'B+'
//-         .bc-class-icon(data-bc-class="B+")