.bc-promo-map__tooltip
    .bc-promo-map__tooltip-close
    .bc-promo-map__tooltip-logo
        img(src="./img/svg/logo_evrika.svg")
    .bc-promo-map__tooltip-text
        p Торгово-офисный центр <br>45 000 м2 <br>Парковка 640 мест
    p ул. Седова 11, лит А