.teorema-galery-1

    button.teorema-galery-1__prev
        img(src="./img/svg/arrow_left.svg")
    button.teorema-galery-1__next
        img(src="./img/svg/arrow_right.svg")

    .teorema-galery-1__container
        .teorema-galery-1__slide
            .teorema-galery-1__slide-img
                picture
                    <source srcset="./img/jpg/office_promo_example.jpg" type="image/webp">
                    img(
                        src = "./img/jpg/office_promo_example.jpg"
                        srcset = "./img/jpg/office_promo_example.jpg"
                        alt = ""
                    )
            p.teorema-galery-1__slide-desc Краткая подпись к слайду
        .teorema-galery-1__slide
            .teorema-galery-1__slide-img
                picture
                    <source srcset="./img/jpg/office_promo_example.jpg" type="image/webp">
                    img(
                        src = "./img/jpg/office_promo_example.jpg"
                        srcset = "./img/jpg/office_promo_example.jpg"
                        alt = ""
                    )
            p.teorema-galery-1__slide-desc Краткая подпись к слайду