.bc-services-list {

    max-width: 1312px;
    margin: 0 auto;

}

.bc-services-list-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 40px 40px;
    border: 1px solid #707070;
    border-radius: 3px;

    &__ava {
        margin-bottom: 32px;
    }


    &__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.33;
        text-align: left;
        color: var(--text_dark_grey);

        text-transform: uppercase;

        margin-bottom: 24px;
    }
}