doctype html
html(lang="ru")
	head
		include carcass/head.pug

	body

		<!-- Шапка -->
		include blocks/header/header.pug

		//- <!-- Страница "БЦ" -->
		//- include pages/bc_page.pug

		//- <!-- Страница "Результат фильтрации" -->
		//- include pages/filter_result.pug

		//- <!-- Страница "Акции" -->
		//- include pages/spoffer.pug

		//- <!-- Страница "Аренда офиса" -->
		//- include pages/rent_office.pug

		//- <!-- Страница "Аренда офиса. Переход с sitemap" -->
		//- include pages/rent_office_sitemap.pug

		//- <!-- Страница "Аренда офиса. Нет в наличии" -->
		//- include pages/rent_office_none.pug

		//- <!-- Страница "Все акции" -->
		//- include pages/spoffer_list.pug

		//- <!-- Страница "Все Бизнес-центры" -->
		//- include pages/all_bc.pug

		//- <!-- Страница "Свободное помещение" -->
		//- include pages/office.pug

		<!-- Страница "Главная" -->
		include pages/main.pug


		<!-- Footer -->
		include blocks/footer.pug

		<!-- Подрубка общих скриптов и библ. -->
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")

		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		script(type="application/javascript" src='./js/slick.min.js')

		script(type="application/javascript" src='./js/filter.js')
		script(type="application/javascript" src='./js/main.js')
		script(type="application/javascript" src='./js/table.js')

		//- скрипт только для Главной страницы
		script(type="application/javascript" src='./js/main_page.js')

		<!-- sprite с svg-иконками -->
		div#teorema_sprite
			include components/sprite.pug