.filter-result-tabs
    a(href="javascript:void(0)" data-tab-id="plan").filter-result-tabs__tab.active Планировка
    a(href="javascript:void(0)" data-tab-id="desc").filter-result-tabs__tab Описание
    span.filter-result-tabs__toddler