.filter-result-legend
    .filter-result-legend__title Выбранные параметры:
    .filter-result-legend__list
        .filter-result-legend__item офис
        .filter-result-legend__item универсальное
        .filter-result-legend__item Калининский р-н
        .filter-result-legend__item «Бенуа»
        .filter-result-legend__item «Лангензипен»
        .filter-result-legend__item «Эврика»
        .filter-result-legend__item площадь 99 – 9 999 м² 
        .filter-result-legend__item ставка 999 – 9 999 ₽/м²/мес.
        .filter-result-legend__item этаж 3, 6