.filter-result-tabs
    .filter-result-tabs__title Сортировка:
    a(href="javascript:void(0)" data-f-result-tab="all").filter-result-tabs__tab.active Все
    a(href="javascript:void(0)" data-f-result-tab="A").filter-result-tabs__tab Класс А
    a(href="javascript:void(0)" data-f-result-tab="B+").filter-result-tabs__tab Класс Б+
    span.filter-result-tabs__toddler