.filter-result-tabs
    .filter-result-tabs__title Сортировка:
    a(href="javascript:void(0)" data-f-result-tab="bc").filter-result-tabs__tab.active Бизнес-центры
    a(href="javascript:void(0)" data-f-result-tab="room").filter-result-tabs__tab Помещения
    span.filter-result-tabs__toddler