.filter-result-tabs.main__filter-result-tabs
    a(href="javascript:void(0)" data-tab-id="main_sale_1").filter-result-tabs__tab.active Жилая недвижимость
    a(href="javascript:void(0)" data-tab-id="main_sale_2").filter-result-tabs__tab Земельные участки
    span.filter-result-tabs__toddler