.filter-result-tabs.main-news__filter-result-tabs
    a(href="javascript:void(0)" data-tab-id="main_news_all").filter-result-tabs__tab.active Все
    a(href="javascript:void(0)" data-tab-id="main_news_1").filter-result-tabs__tab Рубрика 1
    a(href="javascript:void(0)" data-tab-id="main_news_2").filter-result-tabs__tab Рубрика 2
    a(href="javascript:void(0)" data-tab-id="main_news_3").filter-result-tabs__tab Рубрика 3
    span.filter-result-tabs__toddler