section.promo.promo-row.filter-result__promo
    .n-container.promo-row__n-container
        .promo__left
            h1 Результат поиска
                span.triangle-red
        .promo__right
            include ./filter_result_legend.pug