:root {
    // colors
    --white: white;

    --teorema_dark_grey: #2A2B2C;
    --teorema_omg_perdal: #ECEEEF;
    --teorema_red: #D8242F;
    --teorema_green: #26ACA3;

    --ghost_white: #F9F9FA;

    --text_dark_grey: #374047;
    --text_medium_grey: #7F8B93;

    --border_light_grey: #606E79;
}

/*

h1,h2,h3,h4,h5,h6

h1,h2,h3,h4,h5,h6,p,span

href="javascript:void(0)"

*/