<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/about/about_promo.pug

<!-- Промо 2 -->
include ../blocks/about/about_promo_2.pug

<!-- Шахматны -->
include ../blocks/about/about_chess.pug

<!-- Награды -->
include ../blocks/rewards/rewards.pug

<!-- Награды -->
include ../blocks/benefits_x3.pug

<!-- Контакты -->
include ../blocks/contacts/contacts.pug