<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/promo/promo_row.pug
+promo_row('Бизнес-центры Санкт-Петербурга класса «А» и «В+»')
    p Управляющая компания «Теорема» успешно работает в сфере коммерческой недвижимости уже 23 года и предлагает в аренду коммерческие помещения различного назначения в современных деловых комплексах. Эти бизнес-центры Санкт-Петербурга выгодно выделяются среди прочих.<br><br>Деятельность «Теоремы» направлена на формирование комфортной среды для ведения бизнеса клиентов различного профиля и масштаба. Ориентированность УК на оказание качественных услуг проявляется в продуманных концепциях, возведении уникальных зданий и, наконец, в создании функциональных помещений для аренды…Благодаря нестандартным архитектурным замыслам и их запоминающемуся исполнению «Теорема» имеет репутацию смелого новатора. Достаточно вспомнить бизнес-центр «Бенуа», который украсил Свердловскую набережную. Его эффектное  внешнее оформление стало визитной карточкой компании. В Санкт-Петербурге бизнес-центры «Теоремы» видели, запомнили и оценили многие горожане и представители профессионального сообщества. Об этом свидетельствуют награды таких конкурсов, как Commercial Real Estate Saint Petersburg Awards, The Outstanding Building of the Year, «Дом Года», «100 лучших офисных и торговых центров России», которыми в разное время была удостоена сама компания и её объекты.<br><br>Бизнес-центры «Теоремы» являются удачным примером профессионального подхода к девелопменту и управлению недвижимостью. Это позволяет менеджерам отдела аренды подбирать оптимальные варианты на приемлемых для клиентов условиях, а в дальнейшем — строить долгосрочные отношения с арендаторами. Многие из них по достоинству оценили высокий уровень сервиса и удобство работы в пространстве, которое создается силами специалистов УК.

<!-- Табы -->
include ../blocks/filter/filter_result_tabs_bc.pug


include ../blocks/all_bc/all_bc_list.pug

<!-- 2-колоночный контент -->
include ../blocks/content_x2/content_x2_all_bc.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug