<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/articles/articles_promo.pug

<!-- Список статей -->
include ../blocks/articles/articles_list.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug