<!-- Хлеб крошки -->
include ../blocks/crumbs.pug


<!-- Промо ( 1-ый экран ) -->
include ../blocks/bc_promo.pug


<!-- Блок с выпадающими списками -->
include ../blocks/bc_dropdown_list.pug


<!-- Преимущества Теоремы ( 3 карточки-ссылки ) -->
include ../blocks/benefits_x3.pug


<!-- Галерея БЦ ( большая галерея-слайдер + буллеты ) -->
include ../blocks/bc_galery.pug


<!-- Описание БЦ ( simple block с текстовкой ) -->
include ../blocks/bc_desc.pug


<!-- Типы помещений ( 3 карточки с актуал. инфой по помещению ) -->
include ../blocks/room_types.pug


<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug


<!-- Арендаторы ( слайдер с логотипами ) -->
include ../blocks/rent.pug


<!-- Серенький блок с cta ( встречаться будет на многих страницах ) -->
include ../blocks/cta_bottom.pug