<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/bpp/bpp_promo.pug

<!-- Промо 2 -->
include ../blocks/bpp/bpp_promo_2.pug

<!-- Инфраструктура -->
include ../blocks/bpp/bpp_inf.pug

<!-- Преимущества БПП -->
include ../blocks/bpp/bpp_benefits.pug

<!-- Галерея БПП -->
include ../blocks/bpp/bpp_galery.pug

<!-- Дропдауны "Аэротур" "Виртуальный тур" -->
include ../blocks/bpp/bpp_dd.pug


<!-- Блок в шахматном порядке -->
include ../blocks/bpp/bpp_about.pug


<!-- Награды -->
include ../blocks/rewards/rewards_bpp.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug