<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/commercial/commercial_promo.pug

<!-- Шахматный блок -->
include ../blocks/commercial/commercial_main.pug

<!-- Эксклюзивное предложение -->
include ../blocks/exclusive_offer/exclusive_offer.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug