<!-- Промо с галереей -->
include ../blocks/main/main_promo.pug


include ../blocks/main/bc_list_promo.pug

<!-- Карточки бизнец-центров -->
include ../blocks/main/bc_list.pug

<!-- Эксклюзивное предложение -->
include ../blocks/exclusive_offer/exclusive_offer.pug

<!-- Фильтр -->
include ../blocks/main/main_filter.pug

<!-- Parallax 1 -->
include ../blocks/parallax/parallax.pug
+t_parallax('parallax_1')

<!-- Продажа недвиги -->
include ../blocks/main/main_selling.pug

<!-- Parallax 2 -->
+t_parallax('parallax_2')

<!-- О копании -->
include ../blocks/main/main_about.pug

<!-- Награды -->
include ../blocks/rewards/rewards.pug

<!-- Новости -->
include ../blocks/main/main_news.pug

<!-- Контакты -->
include ../blocks/contacts/contacts.pug

<!-- Parallax 3 -->
+t_parallax('parallax_3')