<!-- Хлеб крошки -->
include ../blocks/crumbs.pug


<!-- Промо с галерей -->
include ../blocks/office/office_promo.pug


<!-- Табы -->
include ../blocks/filter/filter_result_tabs_empty_office.pug


<!-- Планировка & Описание через табы -->
include ../blocks/office/office_main.pug


<!-- Преимущества -->
include ../blocks/benefits_x3.pug


<!-- Похожие помещения -->
include ../blocks/office/office_rooms.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug