.e-quiz(style="margin: 200px")
    form(action="")
        .e-quiz-step(data-e-quiz-step="1")
            .e-quiz-step__title Оцените свои шансы на списание долгов
            p.e-quiz-step__sub-title Получите БЕСПЛАТНУЮ консультацию, ответив на 3 простых вопроса

            .e-quiz-step__question Вопрос 1:
            .e-quiz-step__answers
                label.e-quiz-step__answer
                    input(type="radio" name="step-1")
                    .e-quiz-step__answer-circle
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-1")
                    .e-quiz-step__answer-circle
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-1")
                    .e-quiz-step__answer-circle
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-1")
                    .e-quiz-step__answer-circle
                    .e-quiz-step__answer-text Ответ 1

            .e-quiz-step__bar
                .e-quiz-step__bar-title Вопрос 1 из 3
                .e-quiz-step__bar-line

            .e-quiz-step__ctrls
                a(href="javascript:void(0)").e-quiz-step__btn-back
                    span
                    p Назад
                a(href="javascript:void(0)" style="display: none;").e-quiz-step__btn-next
                    span
                    p Далее

        .e-quiz-step(data-e-quiz-step="2")
            .e-quiz-step__title Оцените свои шансы на списание долгов
            p.e-quiz-step__sub-title Получите БЕСПЛАТНУЮ консультацию, ответив на 3 простых вопроса

            .e-quiz-step__question Вопрос 2:
            .e-quiz-step__answers
                label.e-quiz-step__answer
                    input(type="radio" name="step-2")
                    .e-quiz-step__answer-tetra
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-2")
                    .e-quiz-step__answer-tetra
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-2")
                    .e-quiz-step__answer-tetra
                    .e-quiz-step__answer-text Ответ 1
                label.e-quiz-step__answer
                    input(type="radio" name="step-2")
                    .e-quiz-step__answer-tetra
                    .e-quiz-step__answer-text Ответ 1

            .e-quiz-step__bar
                .e-quiz-step__bar-title Вопрос 2 из 3
                .e-quiz-step__bar-line

            .e-quiz-step__ctrls
                a(href="javascript:void(0)").e-quiz-step__btn-back
                    span
                    p Назад
                a(href="javascript:void(0)").e-quiz-step__btn-next
                    span
                    p Далее

        .e-quiz-step.e-quiz-cta(data-e-quiz-step="last")
            .e-quiz-step__title Бесплатная консультация
            p.e-quiz-step__sub-title Заполните форму и наши специалисты свяжутся с вами для оказания помощи

            .e-quiz-step__field.form-group.animated-labels(style="display: none;")
                label Имя <span class="required-star">*</span>
                .input
                    input(type="text" id="" name="" class="form-control required" value="" aria-required="true" aria-invalid="false")

            button(type="submit").e-quiz-step__btn-send Отправить заявку
            p.e-quiz-step__notice Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
            