.e-rating(style="margin: 200px")
    .e-rating__title Общая оценка компании
    .e-rating__rate 4.2

    .e-rating__bars
        .e-rating-bar(data-e-rating="2.7")
            .e-rating-bar__head
                span Прозрачность
                span 2.7
            .e-rating-bar__line
                div(style="width: 27%;")
        .e-rating-bar(data-e-rating="1.0")
            .e-rating-bar__head
                span Публичный рейтинг
                span 1.0
            .e-rating-bar__line
                div(style="width: 10%;")
        .e-rating-bar(data-e-rating="0.0")
            .e-rating-bar__head
                span Обратная связь
                span 0.0
            .e-rating-bar__line
                div(style="width: 0 %;")
        
        .e-rating-bar-tooltip
            .e-rating-bar-tooltip__text Мы нашли компанию с более высоким рейтингом!
            a(href="javascript:void(0)").e-rating-bar-tooltip__btn.e-quiz-step__btn-send Посмотреть подробнее

    .e-rating__filter
        .e-rating__title Отзывы из интернета
        
        label.e-quiz-switch.e-rating-switch(data-e-rating-review="5")
            input(type="checkbox" style="display: none")
            .e-quiz-switch__field

            .e-rating-switch__stars
                .e-rating-switch__stars-gold
        
            .e-rating__filter-text 666 отзывов
        label.e-quiz-switch.e-rating-switch(data-e-rating-review="4")
            input(type="checkbox" style="display: none")
            .e-quiz-switch__field

            .e-rating-switch__stars
                .e-rating-switch__stars-gold
        
            .e-rating__filter-text 666 отзывов
        label.e-quiz-switch.e-rating-switch(data-e-rating-review="3")
            input(type="checkbox" style="display: none")
            .e-quiz-switch__field

            .e-rating-switch__stars
                .e-rating-switch__stars-gold
        
            .e-rating__filter-text 666 отзывов
        label.e-quiz-switch.e-rating-switch(data-e-rating-review="2")
            input(type="checkbox" style="display: none")
            .e-quiz-switch__field

            .e-rating-switch__stars
                .e-rating-switch__stars-gold
        
            .e-rating__filter-text 666 отзывов
        label.e-quiz-switch.e-rating-switch(data-e-rating-review="1")
            input(type="checkbox" style="display: none")
            .e-quiz-switch__field

            .e-rating-switch__stars
                .e-rating-switch__stars-gold
        
            .e-rating__filter-text 666 отзывов

    
    .e-rating-review
        .e-rating-review__head
            .e-rating-review__ava Л
            .e-rating-review__name Люба И.

        .e-rating-review__date 29 декабря 2019
        .e-rating-review__text
            p Огромное спасибо Финансово-Правовому Альянсу за отличную, качественную работу. В самой компании работают сотрудники с такими качествами как: упорство…
        a(href="javascript:void(0)").e-rating-review__show-more еще

        a(href="javascript:void(0)").e-rating-review__from Отзыв на yandex.ru

    a(href="javascript:void(0)").e-rating-review__more-review еще 7 отзывов