<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/questions/questions_promo.pug

<!-- Список советов -->
include ../blocks/questions/questions_list.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug