<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/promo/promo_row.pug
+promo_row('Аренда помещений свободного назначения в Санкт-Петербурге')
    p В бизнес-центрах, которыми управляет компания «Теорема», доступна аренда помещения свободного назначения. Все площади сдаются от собственника, без скрытых платежей, по системе «всё включено». Кроме того, действуют конкурентоспособные арендные ставки. Если снять такое помещение свободного назначения, то это будет весьма выгодно и комфортно. <br><br>Перечень вакантных объектов размещен на этой странице ниже. Если кликнуть на фото или номер, то можно увидеть подробное описание. Представленные в выборке универсальные помещения расположены на нижних этажах и имеют свободный с улицы. Увеличивают вероятность нахождения нужного варианта разнообразные метражи, планировки и местоположение.

<!-- Список помещений -->
include ../blocks/table/table_room.pug

<!-- 2-колоночный контент -->
include ../blocks/content_x2/content_x2_sitemap.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug