<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/promo/promo_col.pug
+promo_col('Аренда отдельно стоящего здания в Санкт-Петербурге')

<!-- 2-колоночный контент -->
include ../blocks/content_x2/content_x2_none.pug

<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug