<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Главный разворот страницы акционной -->
include ../blocks/teorema_text.pug

<!-- Таблица с помещениями -->
include ../blocks/table/table_room.pug

<!-- Notice -->
include ../blocks/teorema_notice.pug


<!-- Серенький блок с cta ( встречаться будет на многих страницах ) -->
include ../blocks/cta_bottom.pug