<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/promo/promo_row.pug
+promo_row('Аренда отдельно стоящего здания в Санкт-Петербурге')
    p Спецпредложения заинтересуют тех, кто хочет снять готовое к работе помещение по выгодной цене. Новые клиенты могут рассчитывать на дополнительный бонус в виде арендных каникул, который также предоставит УК «Теорема».<br><br>Все предлагаемые по акции площади расположены в деловых комплексах класса «А» или «В+», а также комфортабельных офисных зданиях. Это объекты с профессиональным управлением и вместительными парковками — в этом дополнительная ценность данного спецпредложения.<br><br>Аренда офисов предоставляется по системе «всё включено». Это означает, что в цену входят НДС, коммунальные услуги, эксплуатация, страхование ответственности арендодателя, Интернет (для абонентов «Теорема Телеком»), клининг.<br><br>Используйте данную акцию, чтобы выгодно снять офис. Спецпредложение распространяется на объекты, которые при поиске с помощью фильтра, будут отмечены в выборке значком «%» на красном фоне. Специальные предложения аренды офисов действуют с 00 апреля по 00 июня 0000 года. Подробности можно узнать по телефону 333-0-444. Менеджер УК «Теорема» предоставит необходимую информацию о сдающихся помещениях, поможет организовать просмотр и предоставит для ознакомления договор аренды.

<!-- Список акций -->
include ../blocks/spoffer/spoffer_list.pug


<!-- Преимущества -->
include ../blocks/benefits_x3.pug

<!-- Сотрудничество ( Инфа + Форма ) -->
include ../blocks/bc_partnership.pug