<!-- Хлеб крошки -->
include ../blocks/crumbs.pug

<!-- Промо -->
include ../blocks/tc/tc_promo.pug

<!-- Промо 2 -->
include ../blocks/tc/tc_promo_2.pug

<!-- Промо 2 -->
include ../blocks/tc/tc_main.pug

<!-- Преимщества -->
include ../blocks/benefits_x3.pug