section.promo.promo-row.commercial-promo
    .n-container.promo-row__n-container
        .promo__left
            h1 АРЕНДА коммерческой недвижимости в Санкт-Петербурге без посредников
                span.triangle-red
        .promo__right
            .promo__text-expand.text-expand(data-max-height="216px" data-text-expand-for="all")
                .text-expand__content
                    p Компания «Теорема» управляет девятью бизнес-центрами и несколькими офисными зданиями. Общая площадь объектов составляет 185 000 кв. м. В настоящее время сдаются площади от 30 кв. м под небольшой офис до 1500 – под представительство крупной организации.<br><br>За 23 года работы УК прекрасно зарекомендовала себя в сфере аренды коммерческой недвижимости в Санкт-Петербурге без посредников. Подтверждение этого – 10 наград, полученных на конкурсах: CRE, TOBY, «Дом года», «100 лучших офисных и торговых центров России».<br><br>Специалисты компании обеспечивают высокий уровень обслуживания, соответствующий классу А. Современное оснащение, сервис «Теорема», развитая инфраструктура, вместительные парковки и многое другое – всё это несомненно оценят решившие снять коммерческую недвижимость в Санкт-Петербурге в одном из деловых центров УК.<br><br>Автор большинства проектов – архитектор Сергей Чобан. Предложенные им решения уникальны, а возведённые здания необычны и престижны, что стабильно привлекает арендаторов.
                button.text-expand__btn Посмотреть подробнее 