
[bc-col="1"]{
    width: 490px;
}
[bc-col="2"]{
    width: 150px;
}
[bc-col="3"]{
    width: 240px;
}
[bc-col="4"]{
    width: 430px;
}


/*  Итем   */
.table-bc {
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
    &::before {
        content: '';
        height: 1px;
        width: calc(100% + 32px);
        background-color: #CFD3D7;
        position: absolute;
        bottom: 0;
        left: -16px;
    }


    &__body {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        padding-top: 16px;
        padding-bottom: 24px;

        position: relative;
    }

    &__row {
        display: flex;
        flex-direction: row;
    }


    &__galery {
        margin-right: 32px;

        overflow: hidden;
        width: 192px;
        height: 120px;

        position: relative;

        &-photo {
            // max-width: 100%;
            // height: auto;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &-dots {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
    
            li {
    
                &:not(:last-child){
                    margin-right: 6px;
                }
    
                button {
                    cursor: pointer;
                    color: transparent;
                    transition: .2s ease;
    
                    width: 10px;
                    height: 10px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    background-color: rgba(255,255,255,.5);
                    &:hover {
                        background-color: rgba(255,255,255, .75);
                        border-color: rgba(255,255,255, .5);
                    }
                }
    
                &.slick-active {
    
                    button {
                        background-color: rgba(255,255,255, 1);
                        border-color: var(--text_dark_grey);
    
                    }
                }
            }
        }
    }




    &__info {
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    &__bc {
        display: flex;
        align-items: center;

        margin-bottom: 10px;
        flex-shrink: 0;

        &-class {
            flex-shrink: 0;

            width: 22px;
            height: 22px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            margin-right: 12px;

            &[bc-class="B+"] { background-image: url('../img/svg/class_B+.svg'); }
            &[bc-class="A"] { background-image: url('../img/svg/class_A.svg'); }
        }


        &-name {
            font-size: 16px;
            line-height: 1.25;
            font-weight: 400;
            color: #222222;

            transition: .2s ease-out;
        }

        &:hover,
        &:active {

            .table-bc__bc-name {
                color: var(--teorema_green);
            }

        }
    }


    &__address {
        width: 192px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        font-size: 14px;;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 8px;
        color: var(--border_light_grey);
    }


    &__onmap {
        display: flex;
        align-items: center;

        margin-top: auto;

        span {
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            padding: 0 2px 2px 2px;
            border-bottom: 1px dotted var(--text_medium_grey);
            transition: .2s ease-out;
        }

        &-icon {
            width: 24px;
            height: 24px;
            background: url('../img/svg/gps_min.svg') no-repeat center center;
            background-size: cover;

            margin-right: 16px;
        }

        &:hover {

            span {
                border-bottom-color: transparent;
            }
        }
    }



    .table-bc__logo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        padding-top: 30px;

        img {
            max-width: 120px;
            height: auto;
        }


        &--office {
            padding-top: 5px;
            padding-left: 8px;

            width: 120px;
            height: 48px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            background: var(--text_dark_grey);
            border-radius: 3px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: .7px;
            color: #BFC5C9;
            text-transform: uppercase;

            transition: .2s ease;

            &:hover {
                color: white;
            }
        }
    }


    .table-bc__price {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #222222;

        display: flex;
        align-items: center;
    }


    &__show-btn {
        white-space: pre;
        align-self: center;

        width: 415px;
        height: 56px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid var(--border_light_grey);
        border-radius: 4px;

        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: .7px;
        text-transform: uppercase;
        color: var(--text_dark_grey);

        background-color: white;


        &--number {
            font-size: 14px;
            font-weight: 700;
            color: var(--teorema_green);
            margin-bottom: 2px;

            letter-spacing: 0;
        }

    
        &--measure {
            // text-transform: none;
        }

        
        position: relative;
        &--amount {
            overflow: hidden;

            position: absolute;
            top: -12px;
            right: -12px;

            width: 24px;
            height: 24px;

            border: 2px solid white;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--teorema_red);
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: var(--white);
            letter-spacing: 0;

        }


        transition: .2s ease-out;
        &:hover {

            &--number {
                color: #239B93;
            }
            background-color: var(--ghost_white);
            color: var(--teorema_green);
            border-color: var(--teorema_green);
        }

        &.active,
        &.active:hover {
            background-color: var(--teorema_green);
            color: var(--ghost_white);
            border-color: var(--teorema_green);
        }
    }


}
/*  Итем   */


.table-bc__map {
    display: flex;
    width: 100%;

    height: 266px;
    padding-top: 16px;

    iframe {
        width: 100%;
    }
}














@media only screen and (max-width: 1366px){

    [bc-col]{
        flex-shrink: 0!important;
    }
    [bc-col="1"] {
        width: 400px;
        padding-right: 24px;
    }

    [bc-col="2"] {
        width: 80px;
    }

    [bc-col="3"] {
        width: 160px;
    }

    [bc-col="4"] {
        width: 145px;
    }

    .table-head {
        height: 41px;
    }

    .table-head__label {
        font-size: 12px;
        line-height: 14px;
    }

    .table-head__sort-square,
    .table-head__sort-price {

        span {
            
            &::after {
                width: 8px;
                height: 4px;
                left: calc(100% + 3px);
            }
        }

    }


    .table-bc {
        padding-bottom: 16px;
    }


    .table-bc__head {
        margin-bottom: 8px;
    }

    .table-bc__name {
        font-size: 14px;
    }

    .table-bc__offer {
        font-size: 14px;
    }

    .table-bc__img {
        width: 150px;
        height: auto;
        margin-right: 16px;
    }

    .table-bc__address {
        width: 150px;
        
        font-size: 12px;
        line-height: 14px;
    }

    .table-bc__bc {
        margin-bottom: 8px;
    }

    .table-bc__bc-class {
        margin-right: 8px;
    }

    .table-bc__bc-name {
        font-size: 14px;
    }

    .table-bc__onmap-icon {
        margin-right: 8px;
    }

    .table-bc__onmap span {
        font-size: 10px;
        line-height: 12px;
    }

    .table-bc__onplan span {
        font-size: 10px;
        line-height: 12px;
    }

    .table-bc__order-btn {
        flex-shrink: 0;
        height: 40px;
        font-size: 10px;
    }


    .table-bc__chars-title {
        font-size: 8px;
        line-height: 10px;
    }

    .table-bc__chars-value {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
    }  


    .table-bc__parts {
        font-size: 13px;
        left: 400px;
    }

}


@media only screen and (max-width: 1023.98px){

    [bc-container="1312"] {
        width: calc(100% - 16px);
    }


    [bc-col="1"] {
        width: 355px;
        padding-right: 16px;
    }

    [bc-col="2"] {
        width: 90px;
    }



    .table-head__full {
        background: transparent;
    }

    .table-head {
        width: 100%;
        padding: 0 8px;

        -webkit-box-pack: justify;

                justify-content: space-between;
        position: relative;
        margin-top: 40px;
        background-color: var(--ghost_white);
    }


    .table-bc__body {
        flex-wrap: wrap;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }

    .table-bc__img {
        width: 150px;
        -webkit-box-align: start;
                align-items: flex-start;
        margin-right: 8px;
    }

    .table-bc__address {
        width: 130px;
    }

    .table-bc__onplan {
        width: 40px;
    }
    .table-bc__onplan-icon {
        width: 30px;
        height: 30px;
    }


    .table-bc__compare-btn {
        margin-top: 16px;
        width: 260px;
        svg {
            display: none;
        }

        align-self: center;
        height: 40px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        border: 1px solid var(--border_light_grey);
        border-radius: 4px;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        color: var(--border_light_grey);
        background-color: white;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;

        span {
            display: -webkit-box;
            display: flex;
        }

        &.active {
            background-color: var(--teorema_omg_perdal);
        }
    }


    .table-bc__order-btn {
        width: 180px;
        margin-left: 24px;
        margin-top: 16px;
        margin-right: auto;
    }


    .table-head__compare,
    .table-head__order {
        position: absolute;
        top: -38px;
        width: calc((100% - 24px)/2);

        height: 32px;
        -webkit-box-align: center;
                align-items: center;
        border-radius: 4px;
        background: rgba(38,172,163,.3);
        border: 0;

        &.active {
            border: none;
            background: rgba(38,172,163,1);

            div {
                font-weight: 400;
                color: var(--ghost_white);
            }
        }
    }

    .table-head__compare {
        left: 8px;
    }

    .table-head__order {
        left: calc( (100% - 24px)/2 + 16px);
    }

    .table-head__compare div span,
    .table-head__order div span {
        width: 16px;
        height: 16px;
        font-size: 10px;
        line-height: 13px;
        top: -1px;
    }

    .table-head__compare div, 
    .table-head__order div {
        color: #222222;
    }
}


@media only screen and (max-width: 767.98px){

    .table__offer {
        width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;

        height: 32px;
        background-color: var(--ghost_white);
        margin-bottom: 8px;
        &, * {
            color: var(--text_medium_grey);
            font-size: 12px;
            line-height: 15px;
            font-weight: 600;
            text-align: center;
        }
    }


    
    .table__sort {
        display: -webkit-box;
        display: flex;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: 8px;
    }


    .table__sort-select .select2-container {
        min-width: 304px;
    }
    
    .table__sort-select .select2-container .select2-selection--single {
        height: 40px;
        border: 1px solid #ADB4B9;
    }
    
    .table__sort-select .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 105px;
        padding-right: 16px;
        
        font-size: 12px;
        line-height: 38px;
        font-weight: 400;
        color: var(--text_dark_grey);


        &::after {
            content: 'Сортировать: ';
            font-size: 12px;
            line-height: 38px;
            font-weight: 400;
            color: var(--text_dark_grey);
            right: auto;
            left: 16px;
            width: auto;
            height: auto;
            top: 0px;
        }
    }
    
    .table__sort-select .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }

    .table__sort-select .select2-selection__rendered::before {
        top: 14px;
    }
    
    .table__sort-select .select2-search--dropdown {
        display: none;
    
    }
    .table__sort-select .select2-container--open .select2-dropdown--below {
        
        &::before {
            content: none;
        }
    }
    
    .table__sort-select .select2-results__option {
    
        &::before {
            content: none;
        }
    }
    
    .table__sort-select .select2-results__option[aria-selected=true]:after {
        content: none;
    }

    .table__sort-select .select2-dropdown {
        border-color: #ADB4B9;
    }


    .table-head__full,
    .table-head {
        display: none;
    }
    .table-bc__compare-btn {
        display: none;
    }


    .table-body__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        flex-wrap: wrap;

        border-bottom: 1px solid #CFD3D7;
    }

    [bc-col] {
        width: auto;
        padding: 0;
    }



    .table-bc {
        width: calc( (100% - 24px) / 4 );
        border: 1px solid #CFD3D7;
        border-radius: 3px;
        overflow: hidden;

        &:not(:nth-of-type(4n+1)) {
            margin-left: 8px;
        }

        padding: 0;
        margin-bottom: 16px;

        &::before {
            display: none;
        }
    }


    .table-bc__head {
        padding: 0 8px;
        margin-bottom: 0;
        // overflow: hidden;
    }

    .table-bc__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        position: static;
        height: 100%;
        overflow: hidden;
    }

    .table-bc__img {
        width: 100%;
        margin: 0;
        overflow: hidden;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        margin-bottom: 12px;
    }

    .table-bc__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }


    .table-bc__offer {
        * {
            display: none;
        }
    }

    .table-bc__name {
        word-wrap: break-word;
        font-size: 12px;
        line-height: 14px;
        padding: 0 8px;
        margin-bottom: 7px;

        &[data-desktop-loc] {
            display: none;
        }

        &[data-mobile-loc] {
            display: -webkit-box;
            display: flex;
        }
    }


    .table-bc__info {
        padding: 0 8px;
        margin-bottom: 12px;
    }

    .table-bc__address {
        width: 100%;
        margin-bottom: 0;
    }


    .table-bc__onmap {
        display: none;
    }

    .table-bc__onplan {
        display: none;
    }

    .table-bc__chars {
        align-self: flex-start;
        padding: 0 8px;
        margin-bottom: 5px;

        &:last-of-type {
            margin-bottom: 16px;
        }
    }

    .table-bc__chars-title {
        margin-bottom: 2px;
        color: #606E79;
    }


    .table-bc__order-btn {
        font-weight: 600;
        
        // width: 100%;
        width: calc(100% + 2px);
        margin: 0;
        margin-left: -1px;
        margin-top: auto;
        border: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: var(--teorema_green);

        color: var(--ghost_white);

        &:hover,
        &:active {
            background-color: #239B93;
            color: var(--ghost_white);

        }
    }


    .table-bc__parts {
        position: static;
        padding: 0 8px;
        margin-bottom: 8px;
        font-size: 10px;
        line-height: 12px;
        color: var(--teorema_green);
        width: 115px;
    }
}

@media only screen and (max-width: 640px){

    .table-bc {
        width: calc( (100% - 16px) / 3 );

        &:not(:nth-of-type(4n+1)) {
            margin-left: 0;
        }

        &:nth-of-type(3n+2) {
            margin-left: 8px;
            margin-right: 8px;
        }

    }

    .table-bc__img {
        display: block;
    }

    .table-bc__img img {
        width: 100%;
    }

}



@media only screen and (max-width: 460px){

    .table-body__list {
        width: calc(148px * 2 + 8px);
        margin: 0 auto;
    }

    .table-bc {
        width: 148px;

        &:nth-of-type(3n+2) {
            margin-left: 0;
            margin-right: 0;
        }

        &:nth-child(2n){
            margin-left: 8px;
        }
    }

}