section.rewards
    .n-container.rewards__n-container
        .rewards-heading
            h3 Награды бизнес-парка «Полюстрово»
                span.triangle-red

        .rewards-list
            .rewards-item
                .rewards-item__img
                    img(src="./img/rewards/1.jpg")
                .rewards-item__text Commercial Real Estate Saint Petersburg Awards<br>2008, 2009, 2014
                .rewards-item__tooltip УК «Теорема» — «Лучший девелопер» (2008)<br>БЦ «Лангензипен»  — «Лучший бизнес-центр»  (2008)<br>БЦ «Бенуа» — «Лучший бизнес-центр»  (2009)<br>БЦ «Времена года» — «Лучший бизнес-центр» (2014)
            .rewards-item
                .rewards-item__img
                    img(src="./img/rewards/2.jpg")
                .rewards-item__text Премия «Дом Года» Бизнес-центр «Бенуа» <br><br>2009
                .rewards-item__tooltip УК «Теорема» — «Лучший девелопер» (2008)<br>БЦ «Лангензипен»  — «Лучший бизнес-центр»  (2008)<br>БЦ «Бенуа» — «Лучший бизнес-центр»  (2009)<br>БЦ «Времена года» — «Лучший бизнес-центр» (2014)
            .rewards-item
                .rewards-item__img
                    img(src="./img/rewards/3.jpg")
                .rewards-item__text Urban Awards<br>Жилой Комплекс<br>«Пять звёзд»<br>2009
                .rewards-item__tooltip УК «Теорема» — «Лучший девелопер» (2008)<br>БЦ «Лангензипен»  — «Лучший бизнес-центр»  (2008)<br>БЦ «Бенуа» — «Лучший бизнес-центр»  (2009)<br>БЦ «Времена года» — «Лучший бизнес-центр» (2014)
            .rewards-item
                .rewards-item__img
                    img(src="./img/rewards/4.jpg")
                .rewards-item__text «100 лучших офисных и торговых центров России»<br>2016 – 2018
                .rewards-item__tooltip УК «Теорема» — «Лучший девелопер» (2008)<br>БЦ «Лангензипен»  — «Лучший бизнес-центр»  (2008)<br>БЦ «Бенуа» — «Лучший бизнес-центр»  (2009)<br>БЦ «Времена года» — «Лучший бизнес-центр» (2014)
            .rewards-item
                .rewards-item__img
                    img(src="./img/rewards/5.jpg")
                .rewards-item__text The Outstanding Building of the Year<br>Awards<br>2017
                .rewards-item__tooltip УК «Теорема» — «Лучший девелопер» (2008)<br>БЦ «Лангензипен»  — «Лучший бизнес-центр»  (2008)<br>БЦ «Бенуа» — «Лучший бизнес-центр»  (2009)<br>БЦ «Времена года» — «Лучший бизнес-центр» (2014)
