section.promo.promo-row
    .n-container.promo-row__n-container
        .promo__left
            h2 Аренда недвижимости
                span.triangle-red
        .promo__right
            p Управляющая компания «Теорема» в сфере коммерческой недвижимости с 1997 года. За это время введены в эксплуатацию и успешно сдаются 10 бизнес-центров класса А и B+. Благодаря сотрудничеству с известным немецким архитектурным бюро NPS Tchoban Voss деловые комплексы компании отличают инновационные архитектурные решения. <br><br>УК «Теорема» сдаёт офисы в комфортабельных бизнес-центрах в Калининском, Петроградском, Невском и Красногвардейском районах. Менеджеры компании готовы учитывать требования каждого клиента и осуществлять сопровождение сделки. После заключения договора обеспечиваются комплексное обслуживание сданных площадей, а также оперативное решение административных и хозяйственных вопросов.