section.main-news
    .n-container.main-news__n-container
        h2 Новости
            span.triangle-red
    
        include ../filter/filter_result_tabs_news.pug

        .main-news__list
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    .main-news-item__content-row
                        p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.
                        .main-news-item-galery
                            button.main-news-item-galery__prev
                                img(src="./img/svg/arrow_left_white.svg")
                            button.main-news-item-galery__next
                                img(src="./img/svg/arrow_right_white.svg")
                            .main-news-item-galery__container
                                .main-news-item-galery__slide
                                    img(src="./img/main_page/main_news_photo_example.jpg")
                                .main-news-item-galery__slide
                                    img(src="./img/main_page/main_news_photo_example.jpg")
                                .main-news-item-galery__slide
                                    img(src="./img/main_page/main_news_photo_example.jpg")

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 13.13.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p УК «Теорема» объявила акцию «50/50». Предложение действует с 01.02.20 по 30.06.20 года при подписании договора аренды на 11 месяцев. По акции новые арендаторы получают в аренду офисы и парковку за полцены на полгода. Помещения находятся в бизнес-центрах «Т4» и ТОЦ «Эврика» класса B+ и сдаются с готовностью под ключ, по системе «всё включено». Перечень офисов, участвующих в акции, находится здесь. Более подробную информацию об организаторах мероприятия, о правилах его проведения, месте и порядке получения скидок предоставит специалист отдела аренды УК «Теорема». Обращайтесь по телефону 333-0-444.
