section.main-news
    .n-container.main-news__n-container
        h2 Новости
            span.triangle-red
    
        include ../filter/filter_result_tabs_news.pug

        .main-news__list
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!

            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 13.13.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!
            .main-news-item
                .main-news-item__heading
                    .main-news-item__date 28.02.2020
                    .main-news-item__name Новые автобусы от/до метро в Бизнес-Парке «Полюстрово»
                    .main-news-item__arrow
                .main-news-item__content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi iste atque corrupti cumque. Quaerat perferendis, dolorum ratione necessitatibus quae cum doloribus. Quos, distinctio explicabo? Velit incidunt optio harum minus!