section.main-filter
    section.promo.promo-row
        .n-container.promo-row__n-container
            .promo__left
                h2 Арендовать помещение
                    span.triangle-red
            .promo__right
                p Результаты поиска ознакомят с фотографиями, метражами, стоимостью и планировками помещений. Чтобы узнать больше, обращайтесь в отдел аренды по рабочим дням с 9:30 до 18:00. Используйте для этого сервисы «обратный звонок» и «онлайн консультант» или же позвоните по телефону <a class="main-filter__promo-tel" href="javascript:void(0)">333-0-444<a>
    include ./main_filter_f.pug