.bus-icon {
    width: 14px;
    height: 14px;

    margin: 0 3px;
    display: inline-block;

    position: relative;


    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;

        background: url('../img/svg/bus.svg') no-repeat center center;
        width: 14px;
        height: 14px;

    }
}


.human-icon {
    width: 14px;
    height: 14px;

    margin: 0 3px;
    display: inline-block;

    position: relative;


    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;

        background: url('../img/svg/human.svg') no-repeat center center;
        width: 14px;
        height: 14px;

    }
}