mixin promo_row(h1)
    section.promo.promo-row
        .n-container.promo-row__n-container
            .promo__left
                h1= h1
                    span.triangle-red
            .promo__right
                .promo__text-expand.text-expand(data-max-height="216px" data-text-expand-for="all")
                    .text-expand__content
                        block

                    button.text-expand__btn Посмотреть подробнее 