mixin promo_col(h1)
    section.promo.promo-col
        .n-container.promo-col__n-container
            .promo__left
                h1= h1
                    span.triangle-red
            include ../teorema_notice.pug
            +teorema_notice
                p Извините, в настоящее время все отдельно стоящие офисные здания сданы. Однако в бизнес-центрах УК «Теорема» доступна аренда нескольких автономных комфортабельных офисных блоков. Специалисты компании дадут всю необходимую информацию по тел. <a href="tel:8 (812) 333-0-44">8 (812) 333-0-44</a>