section.promo-row
    .n-container.promo-row__n-container
        .promo-row__left
            h1 Аренда офиса в Санкт-Петербурге от собственника 
                span.triangle-red
        .promo-row__right
            .promo-row__text-expand.text-expand(data-max-height="216px" data-text-expand-for="all")
                .text-expand__content
                    p Снять офис в Санкт-Петербурге быстро и выгодно можно в деловых центрах класса А и В+ управляющей компании «Теорема». Они расположены в Калининском, Невском, Красногвардейском и Петроградском районах Санкт-Петербурга. Комфортабельные помещения сдаются с оснащением и отделкой <a href="javascript:void(0)">«под ключ»</a>. Кроме того, УК осуществляет обслуживание всех сданных площадей на уровне, соответствующем классу А.<br><br>Управляющая компания предлагает организациям, работающим в Санкт-Петербурге, арендовать офис без комиссии. Это означает, что договор заключается напрямую с арендодателем и исключены скрытые платежи.<br><br>Снять офис в Санкт-Петербурге быстро и выгодно можно в деловых центрах класса А и В+ управляющей компании «Теорема». Они расположены в Калининском, Невском, Красногвардейском и Петроградском районах Санкт-Петербурга. Комфортабельные помещения сдаются с оснащением и отделкой <a href="javascript:void(0)">«под ключ»</a>. Кроме того, УК осуществляет обслуживание всех сданных площадей на уровне, соответствующем классу А.<br><br>Управляющая компания предлагает организациям, работающим в Санкт-Петербурге, арендовать офис без комиссии. Это означает, что договор заключается напрямую с арендодателем и исключены скрытые платежи.
                button.text-expand__btn Посмотреть подробнее