meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Nick G.")

title Teorema

meta(name="description" content="")
meta(name='keywords' content='')


link(rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="css/slick.min.css")
//- link(rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css")

<!-- Подключение общих для всех страниц стилей -->
link(rel="stylesheet" type="text/css" href="css/style.css")

<!-- Пробуем в video.js -->
//- link(rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/7.2.3/video-js.css")

<!-- Пробуем в Flowplayer -->
//- link(rel="stylesheet" type="text/css" href="//releases.flowplayer.org/7.0.4/commercial/skin/skin.css")