mixin spoffer_card(h2, subtitle)
    .spoffer-card
        a(href="javascript:void(0)").spoffer-card__head
            .spoffer-card__head-img
            h2= h2
        .spoffer-card__sub-title= subtitle
        block
        a(href="javascript:void(0)") Смотреть 666 предложений
        a(href="javascript:void(0)") Условия акции