include ./spoffer_card.pug

section.spoffer-list.n-block
    .n-container.spoffer-list__n-container
        <!-- a.spoffer-card__head - ссыль на саму акцию -->
        +spoffer_card('Акция «50/50»', 'Офис и парковка на полгода за полцены для новых арендаторов')
            p В рамках акции новые арендаторы получают возможность арендовать офисы и парковку на полгода за полцены. Предложение действует с 01.02.20 по 30.06.20 года и распространяется на ТОЦ «Эврика» и БЦ «Т4» класса B+, расположенные в Невском районе. «Эврика» и «Т4» - прекрасно оснащенные объекты с профессиональным управлением и вместительными парковками. Помещения сдаются с готовностью готовность «под ключ». Аренда предлагается от собственника по системе «всё включено». Более подробную информацию можно получить в рабочие дни по тел. <a href="tel:8 (812) 333-0-44">8 (812) 333-0-44 </a> или прочитав условия акции.
        +spoffer_card('Еще одна стимулирующая акция', 'Короткий анонс, который расскажет основные положения')
            p В рамках акции новые арендаторы получают возможность арендовать офисы и парковку на полгода за полцены. Предложение действует с 01.02.20 по 30.06.20 года и распространяется на ТОЦ «Эврика» и БЦ «Т4» класса B+, расположенные в Невском районе. «Эврика» и «Т4» - прекрасно оснащенные объекты с профессиональным управлением и вместительными парковками. Помещения сдаются с готовностью готовность «под ключ». Аренда предлагается от собственника по системе «всё включено». Более подробную информацию можно получить в рабочие дни по тел. <a href="tel:8 (812) 333-0-44">8 (812) 333-0-44 </a> или прочитав условия акции.