.main-selling__text
    p В качестве застройщика компания возвела жилой комплекс бизнес-класса «Пять звёзд» по авторскому проекту архитектора с мировым именем Сергея Чобана (NPS Tchoban Voss , Германия). Расположение, просторные видовые квартиры с продуманными планировками, качество строительства и инфраструктура комплекса уже принесли признание профессионалов жилищного строительства  и победу в номинации «Лучший строящийся жилой комплекс бизнес-класса в Санкт-Петербурге» и престижной премии Urban Awards.
    p В Петродворцовом районе Санкт-Петербурга компания занимается комплексным освоением территории под малоэтажное жилое строительство: выполняет инженерную подготовку земельных участков, построила таунхаусы, участвует в партнерском проекте по возведению 5-этажных жилых домов. Партнеры УК «Теорема» в сфере жилищного строительства — крупнейшие ипотечные банки, а также десятки агентств недвижимости.


mixin main_sale_item(img_name, name, price)
    .main-selling-item

        .main-selling-item__img
            picture
                source( srcset="./img/main_page/selling/" + img_name + ".jpg" type="image/webp")
                img(
                    src="./img/main_page/selling/" + img_name + ".jpg" 
                    srcset="./img/main_page/selling/" + img_name + ".jpg" )
        .main-selling-item__body
            a(href="javascript:void(0)").main-selling-item__link
                span= name
                .ext-black-icon
            p.main-selling-item__text
                block
            .main-selling-item__price= price

.main-selling-list
    .main-selling-list__ctrls
        button.main-selling-list__prev
            img(src="./img/svg/arrow_left.svg")
        button.main-selling-list__next
            img(src="./img/svg/arrow_right.svg")

    .main-selling-list__container
        +main_sale_item('5stars', 'ЖК «ПЯТЬ ЗВЁЗД»', 'от 7,0 млн руб., ипотека')
            <span>Объект сдан:</span> 1-4-комнатные квартиры, двухуровневые видовые пентхаусы с открытыми террасами в 400 метрах от Свердловской набережной, в парке, на берегу Полюстровского пруда. Адрес объекта: Санкт-Петербург, Калининский район, ул. Жукова, д. 1, лит. В.
        +main_sale_item('townhouse', 'ТАУНХАУСЫ В ПЕТЕРГОФЕ', 'от 7,0 млн руб., ипотека')
            <span>Объект сдан:</span> Таунхаусы площадью 90, 120, 150 м2, земельные участки — в собственность. Квартал таунхаусов находится в Новом Петергофе по адресу: Санкт-Петербург, Петродворцовый район, Петергоф, Ропшинское ш., уч. 103 (западнее д. 8, лит. А по Ропшинскому ш.)

        +main_sale_item('newptgf', 'ЖК «НОВЫЙ ПЕТЕРГОФ»', 'от 7,0 млн руб., ипотека')
            <span>Объект сдан:</span> 1-3-комнатные квартиры и студии с отделкой в 5-этажных домах. Партнерский проект УК «Теорема» и застройщика ООО «Абсолют Строй Сервис» находится по адресу: Санкт-Петербург, Петродворцовый район, Петергоф, уч. 14 (северо-западнее д. 8, лит. А по Ропшинскому ш.)
        