.main-selling__text
    p «Теорема» владеет крупным земельным банком в Санкт-Петербурге и Ленинградской области, поступательно осваивая собственные земельные массивы и реализуя проекты в сфере жилищного строительства. Компания ведет продажи земельных участков как на профессиональном оптовом земельном рынке, так и на розничном. Земельные участки продаются в Петродворцовом районе Санкт-Петербурга. Как девелопер компания выполняет инженерную подготовку земельных участков для подключения к городским коммунальным сетям. 
    p Приобрести ндивидуальные участки под самостоятельную застройку при необходимости можно с привлечением ипотечных кредитов. УК «Теорема» открыта для сотрудничества с агентствами недвижимости, которые специализируются на продажах земельных участков.


mixin main_sale_item(img_name, name, price)
    .main-selling-item

        .main-selling-item__img
            picture
                source( srcset="./img/main_page/selling/" + img_name + ".jpg" type="image/webp")
                img(
                    src="./img/main_page/selling/" + img_name + ".jpg" 
                    srcset="./img/main_page/selling/" + img_name + ".jpg" )
        .main-selling-item__body
            a(href="javascript:void(0)").main-selling-item__link
                span= name
                .ext-black-icon
            p.main-selling-item__text
                block
            .main-selling-item__price= price

.main-selling-list
    .main-selling-list__ctrls
        button.main-selling-list__prev
            img(src="./img/svg/arrow_left.svg")
        button.main-selling-list__next
            img(src="./img/svg/arrow_right.svg")

    .main-selling-list__container
        +main_sale_item('land_1', 'НОВЫЕ КВАРТАЛЫ ПЕТЕРГОФА', 'от 4,1 млн руб., ипотека')
            <span></span>174 участка ИЖС площадью  от 10 до 24 соток под самостоятельную застройку, 12 кВт, газ, вода, канализация. <br><br>Санкт-Петербург, Петродворцовый р-н, Петергоф, улица Луизино (в 4 км от Петродворца,).
        +main_sale_item('land_2', 'УЧАСТОК + ПРОЕКТ ВЫСТАВОЧНОГО КОМПЛЕКСА', 'Цена по запросу')
            <span></span>Участок: 1,7 га и проект выставочного комплекса, состоящий из двух отдельных зданий площадью 3 665 м2. <br><br>Санкт-Петербург, Петродворцовый р-н, Петергоф, Санкт-Петербургское ш.
        +main_sale_item('land_3', 'ПЕТЕРГОФСКИЕ ДАЧИ', 'от 6,0 млн руб., ипотека')
            <span></span>91 участок площадью 12-28 соток под самостоятельную застройку, 12 кВт, газ, вода, канализация. <br><br>Санкт-Петербург, Петродворцовый р-н, Петергоф, Ропшинское ш. (в 4 км от Петродворца)

        +main_sale_item('land_4', 'БАЗА ОТДЫХА «КОЛОКОЛЬЦЕВО» ', '17,5 млн руб.')
            <span></span>Участка: 2,3 га. Четыре летних дома и баня. 110 кВт.  (трансформаторная подстанция), скважина. <br><br>Лен. область, Приозерский р-н, Петровское сельское поселение, ул. Чистый ручей (вблизи д. Ягодное).
