
.all-bc-item
    .all-bc-item__head
        a(href="javascript:void(0)").all-bc-item__bc-link Бизнес-центр «Лангензипен»

    .all-bc-item__body
        .all-bc-item__body-head
            include ../../components/bc_class_icon_A.pug
            button.all-bc-item__show-content Подробнее
        .all-bc-item__body-content

            .all-bc-item__body-row
                ul
                    li
                        span Арендная ставка
                        span договорная
                    li
                        span Общая площадь
                        span 12 000 м2
                    li
                        span Парковка
                        span 70 машино-мест
                    li
                        span Район
                        span Петроградский
                    li
                        span метро
                        span Горьковская

                button.all-bc-item__show-map
                    .show-map-icon
                    span 197101, Санкт-Петербург, Дивенская улица, 1