section.services-list
    .blog-header
        .blog-header__container
            .blog-header__row
                .blog-header__label Всего 15 сервисов

    .n-container.services-list__n-container

        .services-list__list
            .services-item
                .services-item__title Раздел «ЭКСКЛЮЗИВНЫЕ ПРЕДЛОЖЕНИЯ аренды»
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p Этот раздел можно найти на странице «Коммерческая недвижимость» и на главной странице. В нем представлены объекты различного назначения площадью более 200 кв. м. Это офисные блоки и универсальные помещения, расположенные в бизнес-центрах класса В+ в Невском, Калининском и Красногвардейском районах Санкт-Петербурга. Часть из них интересна, поскольку на рынке коммерческой недвижимости Санкт-Петербурга практически нет аналогичных предложений.В разделе указаны назначения помещений, площади, адреса, также присутствуют фотографии объектов. Чтобы узнать больше, нужно кликнуть на фото или номер. Откроется новая страница, где можно узнать об отделке, оснащении и действующих акциях, посмотреть планировку, найти объект на карте Санкт-Петербурга и отправить заявку на аренду.<br><br>Предложение адресовано клиентам, нуждающимся в больших площадях с нестандартными планировочными решениями, ищущим выгодные ценовые предложения и заинтересованным в поддержании имиджа за счет аренды в престижном месте. Также необходимо отметить, что управляющая компания «Теорема» работает на рынке коммерческой недвижимости уже 22 года и обеспечивает профессиональные решения по эксплуатации бизнес-центров. Это полностью снимает с арендаторов проблемы, связанные с обслуживанием помещений.

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title Обратный звонок и онлайн-консультант
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p На любой странице этого сайта есть возможность воспользоваться такими сервисами, как обратный звонок и онлайн-консультант. Обратившиеся всегда могут рассчитывать, что по ту сторону окажется знающий специалист.

                        button.text-expand__btn Развернуть 
            .services-item
                .services-item__title Фильтр для поиска объекта коммерческой недвижимости
                .services-item__content
                    .text-expand(data-max-height="96px" data-text-expand-for="all")
                        .text-expand__content
                            p Ajax фильтр имеет удобный интерфейс и обладает широкими возможностями для выбора помещений. На главной странице фильтр находится в разделе «Каталог офисов», а на остальных - сверху, под баннерами. На мобильных устройствах фильтр также находится вверху, но в свёрнутом состоянии. Для доступа к нему необходимо кликнуть по ссылке «Фильтр для поиска», находящейся правее логотипа.

                        button.text-expand__btn Развернуть 
        .blog-ctrls
            .blog-ctrls__loader
                .blog-ctrls__loader-col
                    .blog-ctrls__loader-icon
                        img(src="./img/svg/loader.svg")
                    .blog-ctrls__loader-text Загрузка…
            .table-body__ctrls
                button.table-body__ctrl-btn Показать все (666)
                button.table-body__ctrl-btn Показать еще
                button.table-body__ctrl-btn Скрыть